Repository ethereum/execution-spec-tests, pull requests merged in 2023-10, with the labels that each got.

#322 feat(tools): update invalid blockchain fixture format
  docs/CHANGELOG.md
  docs/changelog_section_template.md
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_london_invalid_filled.json
Labels: scope:tools, type:feat

#307 improvement: Refactor of spec for blockchain & state test generation
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/filling/fill.py
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_shanghai_invalid_filled_hive.json
  src/ethereum_test_tools/tests/test_fixtures/blockchain_shanghai_valid_filled_hive.json
  src/ethereum_test_tools/tests/test_fixtures/chainid_merge_filled_hive.json
  src/ethereum_test_tools/tests/test_fixtures/chainid_shanghai_filled_hive.json
  src/pytest_plugins/test_filler/test_filler.py
Labels: type:refactor, scope:fw

#325 feat(fw): run evm blocktest on generated fixtures
  docs/CHANGELOG.md
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/executing_tests_command_line.md
  src/evm_transition_tool/__init__.py
  src/evm_transition_tool/execution_specs.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
  whitelist.txt
Labels: scope:evm, type:feat, scope:fw

#334 docs: add a section on using fixtures & est releases
  .markdownlint.yaml
  README.md
  docs/CHANGELOG.md
  docs/getting_started/using_fixtures.md
  docs/index.md
  docs/navigation.md
  mkdocs.yml
  whitelist.txt
Labels: scope:docs, type:chore

#336 feat(tests): update kzg point evaulation test vectors to official setup
  docs/CHANGELOG.md
  evm-config.yaml
  pytest.ini
  tests/cancun/eip4844_blobs/point_evaluation_vectors/README.md
  tests/cancun/eip4844_blobs/point_evaluation_vectors/concat_kzg_vectors_to_json.py
  tests/cancun/eip4844_blobs/point_evaluation_vectors/go_kzg_4844_verify_kzg_proof.json
  tests/cancun/eip4844_blobs/point_evaluation_vectors/requirements.txt
Labels: scope:tests, type:feat

#338 chore(README.md): update readme with most recent t8n branch
  README.md
  docs/CHANGELOG.md
  whitelist.txt
Labels: type:chore

#331 feat(pytest): add option to write one fixture per json file
  docs/CHANGELOG.md
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/executing_tests_command_line.md
  pytest-framework.ini
  src/evm_transition_tool/geth.py
  src/pytest_plugins/test_filler/test_filler.py
  src/pytest_plugins/test_filler/tests/test_test_filler.py
  whitelist.txt
Labels: scope:evm, type:feat, scope:fw
