Repository ethereum/execution-spec-tests, pull requests merged in 2023-09, with the labels that each got.

#321 chore(docs): update changelog to match latest release
  docs/CHANGELOG.md
Labels: scope:docs, type:chore

#309 chore: add python 3.12 support
  .github/workflows/test.yaml
  README.md
  docs/CHANGELOG.md
  docs/getting_started/quick_start.md
  setup.cfg
  src/ethereum_test_tools/common/conversions.py
  src/evm_transition_tool/besu.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
Labels: scope:tools, scope:tests, scope:ci, type:chore

#289 feat(evm): enable tracing support for ethereum-spec-evm
  README.md
  docs/CHANGELOG.md
  docs/index.md
  src/evm_transition_tool/transition_tool.py
Labels: scope:evm, type:feat

#308 chore: add a pull request template with a few reminders
  .github/PULL_REQUEST_TEMPLATE.md
  docs/CHANGELOG.md
Labels: scope:docs, type:chore
