Repository ethereum/execution-spec-tests, pull requests merged in 2024-02, with the labels that each got.

#418 bug(pytest, forks): fix `yul_test` marker and improve `solc --evm-version` param handling
  docs/CHANGELOG.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/test_filler/test_filler.py
Labels: type:bug, scope:forks, scope:pytest

#422 refactor(fw,tests): fix address and hash types
  docs/CHANGELOG.md
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/base_types.py
  src/ethereum_test_tools/common/constants.py
  src/ethereum_test_tools/common/helpers.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/state/types.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filling/test_expect.py
  src/ethereum_test_tools/tests/test_helpers.py
  src/ethereum_test_tools/tests/test_types.py
  src/ethereum_test_tools/tests/test_types_blockchain_test.py
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/opcode.py
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
  tests/cancun/eip1153_tstore/test_tstorage_create_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_reentrancy_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_selfdestruct.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile_gas.py
  tests/cancun/eip5656_mcopy/test_mcopy.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/cancun/eip6780_selfdestruct/test_reentrancy_selfdestruct_revert.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/cancun/eip7516_blobgasfee/test_blobgasfee_opcode.py
  tests/frontier/opcodes/test_call_and_callcode_gas_calculation.py
  tests/frontier/opcodes/test_dup.py
  tests/istanbul/eip1344_chainid/test_chainid.py
  tests/paris/security/test_selfdestruct_balance_bug.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
  tests/shanghai/eip3855_push0/test_push0.py
  tests/shanghai/eip3860_initcode/test_initcode.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Labels: scope:tests, type:chore, type:refactor, scope:fw

#419 feat(forks,tests): add prague fork and test folder
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  tests/cancun/__init__.py
  tests/prague/__init__.py
  whitelist.txt
Labels: scope:forks, scope:tests, type:feat

#425 bug(fw): fix account empty code check
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/state/state_test.py
Labels: type:bug, scope:fw

#429 fix(pytest): actually check the fork before issuing a fork mismatch warning for yul compilation
  src/pytest_plugins/test_filler/test_filler.py
Labels: type:bug, scope:pytest

#428 chore(forks,pytest): Add `BaseFork.ignore` method
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/forks/forks.py
Labels: scope:forks, scope:pytest, type:chore

#427 feat(fixtures): do not export rlp_decoded if there is BlockException.RLP_STRUCTURES_ENCODING
  src/ethereum_test_tools/exceptions/exceptions.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
Labels: scope:tests

#430 feat(tests): dynamic create2 collision from different transactions same block
  docs/CHANGELOG.md
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
Labels: scope:pytest, scope:tests

#438 refactor(tests): EIP-6780 Self-Destruct Tests Parametrization Change
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Labels: scope:tests, type:chore

#451 fix(fw): pypy compatibility - replace bytes=self with just self.
  src/ethereum_test_tools/vm/opcode.py
Labels: type:bug, scope:fw

#460 fix(docs): fix nested lists and content tabs formatting #459
  mkdocs.yml
  setup.cfg
Labels: type:bug, scope:docs

#424 chore(fw): add docstrings to all opcodes in opcodes enum
  docs/CHANGELOG.md
  src/ethereum_test_tools/vm/opcode.py
  whitelist.txt
Labels: type:chore, scope:fw

#448 fix(tests): Remove zero pre-alloc from tests
  tests/cancun/eip1153_tstore/test_tstorage.py
  tests/cancun/eip7516_blobgasfee/test_blobgasfee_opcode.py
Labels: scope:tests, type:chore

#452 fix(pytest-filler): Remove collected items without parametrized fork
  docs/CHANGELOG.md
  src/pytest_plugins/test_filler/test_filler.py
Labels: type:bug, scope:evm, scope:pytest
