Repository ethereum/execution-spec-tests, pull requests merged in 2024-09, with the labels that each got.

#773 feat(docs/tests): EOF: Update tracker, add unimplemented tests
  src/ethereum_test_types/eof/v1/__init__.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_code_validation.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/prague/eip7692_eof_v1/tracker.md
Labels: scope:tests, scope:docs, type:feat

#777 chore: use uv for package management
  .github/actions/build-fixtures/action.yaml
  .github/actions/setup-uv/action.yaml
  .github/scripts/get_release_props.py
  .github/workflows/coverage.yaml
  .github/workflows/docs_main.yaml
  .github/workflows/docs_tags.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
  .github/workflows/tox_verify.yaml
  README.md
  docs/dev/docs.md
  docs/dev/precommit.md
  docs/getting_started/installation_troubleshooting.md
  docs/getting_started/quick_start.md
  docs/writing_tests/verifying_changes.md
  uv.lock
Labels: scope:ci, type:chore

#782 chore: update uv.lock for updated solc deps
  uv.lock
Labels: scope:ci, type:chore

#733 new(tests): EIP-7702: Updates for Devnet-3
  docs/CHANGELOG.md
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_types/types.py
  src/evm_transition_tool/types.py
  src/pytest_plugins/filler/pre_alloc.py
  tests/prague/eip7702_eoa_code_tx/spec.py
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
  tests/prague/eip7702_set_code_tx/__init__.py
  tests/prague/eip7702_set_code_tx/helpers.py
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  whitelist.txt
Labels: type:test

#745 feat(consume): update `--input` & fix `--help`
  .vscode/launch.recommended.json
  docs/CHANGELOG.md
  docs/getting_started/executing_tests_command_line.md
  src/cli/pytest_commands/common.py
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/fill.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/help/help.py
  src/pytest_plugins/help/tests/test_help.py
  whitelist.txt
Labels: type:bug, type:feat, scope:consume

#788 chore(ci): remove redundant tests for fixture releases.
  .github/configs/feature.yaml
  docs/CHANGELOG.md
Labels: scope:ci, type:chore

#794 new(tests): EOF: tests for invalid non-returning sections
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_nonretruning_validation.py
  tests/prague/eip7692_eof_v1/tracker.md
  whitelist.txt
Labels: scope:tests, type:test

#771 new(tests): EOF - EIP-7069 - expand EXT*CALL gas testing
  tests/prague/eip7692_eof_v1/eip7069_extcall/helpers.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_gas.py
  tests/prague/eip7692_eof_v1/tracker.md
  whitelist.txt
Labels: scope:tests, type:feat

#752 feat(ci,evm_transition_tool): Add EthereumJS
  .github/actions/build-evm-base/action.yaml
  .github/actions/build-evm-client/ethjs/action.yml
  .github/configs/evm-impl.yaml
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  README.md
  docs/index.md
  src/evm_transition_tool/__init__.py
  src/evm_transition_tool/ethereumjs.py
  whitelist.txt
Labels: scope:ci, type:feat

#800 fix(tests): EOF - Remove duplicate container tests, automatically check for duplicates
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_expect.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/filler/filler.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_migrated_valid_invalid.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_section_order.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/prague/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Labels: scope:tests, type:test, type:feat, scope:fw

#806 fix(forks): small pytest session header fix with dev forks
  docs/CHANGELOG.md
  src/pytest_plugins/forks/forks.py
Labels: type:bug, scope:forks

#810 fix(fw): max stack height calculation in __add__
  src/ethereum_test_vm/bytecode.py
  src/ethereum_test_vm/tests/test_vm.py
Labels: type:bug, type:refactor, scope:fw

#819 fix(fw): EOF - Accept `initcode_prefix` on EOF `Container.Init`
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/tests/test_eof_v1.py
Labels: type:bug, scope:fw

#821 fix(tests): Fix Existing EOF + EIP-7702 Tests
  docs/CHANGELOG.md
  src/ethereum_test_tools/code/generators.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests, type:chore, type:test, scope:fw

#801 feat(docs): re-write test gen doc flow with pytest plugin
  docs/CHANGELOG.md
  docs/gen_test_case_reference.py
  docs/templates/base.md.j2
  docs/templates/directory.md.j2
  docs/templates/function.html.j2
  docs/templates/function.md.j2
  docs/templates/function_parameter_datatable.html.j2
  docs/templates/markdown_header.md.j2
  docs/templates/module.md.j2
  docs/writing_tests/exception_tests.md
  docs/writing_tests/index.md
  mkdocs.yml
  src/ethereum_test_tools/utility/versioning.py
  src/pytest_plugins/filler/gen_test_doc/__init__.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
  tests/prague/__init__.py
  tox.ini
  whitelist.txt
Labels: scope:docs, type:feat

#829 fix(docs,ci): add build-evm-base to docs deploy workflows
  .github/workflows/docs_main.yaml
  .github/workflows/docs_tags.yaml
Labels: type:bug, scope:docs, scope:ci

#822 refactor(tools,rpc): Move `ethereum_test_tools.rpc` to `ethereum_test_rpc`
  docs/CHANGELOG.md
  src/cli/gentest.py
  src/ethereum_test_rpc/__init__.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_tools/rpc/__init__.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
Labels: type:refactor, scope:fw

#831 fix(tests): fix TSTORE EOF variant test
  tests/cancun/eip1153_tstore/test_tstorage_clear_after_tx.py
Labels: type:bug, scope:tests

#824 feat(plugins): Create `concurrency` pytest plugin
  docs/CHANGELOG.md
  pytest-consume.ini
  pytest.ini
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/fill.py
  src/pytest_plugins/concurrency.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
Labels: scope:pytest, type:feat

#825 feat(base_types): Add `Wei` type
  docs/CHANGELOG.md
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_base_types/tests/test_base_types.py
Labels: type:feat, scope:fw

#838 feat(docs,tests): add links to the online test case docs in the EOF tracker
  tests/prague/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests, scope:docs, type:feat

#834 refactor(tests): unify EOF return code constants
  tests/prague/eip7692_eof_v1/eip7069_extcall/spec.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calldata.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_returndataload.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/helpers.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/spec.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_legacy_eof_creates.py
  tests/prague/eip7692_eof_v1/gas_test.py
  whitelist.txt
Labels: scope:tests, type:refactor

#840 fix(docs): miscellaneous improvements to troubleshooting, navigation, styling
  docs/dev/docs.md
  docs/dev/interactive_usage.md
  docs/dev/test_actions_locally.md
  docs/getting_help/index.md
  docs/getting_started/installation_troubleshooting.md
  docs/library/pytest_plugins/index.md
  docs/library/pytest_plugins/navigation.md
  docs/navigation.md
  whitelist.txt
Labels: type:bug, scope:docs

#792 feat(transition_tool): Support EELS resolver in daemon mode
  .github/actions/build-evm-base/action.yaml
  .github/configs/evm-impl.yaml
  .github/configs/evm.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docs_main.yaml
  .github/workflows/docs_tags.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
  .github/workflows/tox_verify.yaml
  README.md
  docs/CHANGELOG.md
  docs/getting_started/img/pytest_collect_only.png
  docs/getting_started/img/pytest_run_example.png
  docs/getting_started/quick_start.md
  docs/index.md
  pyproject.toml
  pytest-framework.ini
  src/cli/tests/test_pytest_fill_command.py
  src/conftest.py
  src/ethereum_test_specs/tests/test_expect.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_tools/tests/test_code.py
  src/evm_transition_tool/__init__.py
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/execution_specs.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/tests/test_evaluate.py
  src/evm_transition_tool/tests/test_transition_tool.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/conftest.py
  src/pytest_plugins/filler/tests/test_filler.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_forks.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
  uv.lock
  whitelist.txt
Labels: type:feat, scope:fw

#845 fix(consume): use the session_temp_folder introduced in #824
  src/pytest_plugins/pytest_hive/pytest_hive.py
Labels: type:bug, scope:consume

#850 fix(fw,tests): Replace `ethereum.base_types` with `ethereum-types`, replace `ethereum.crypto.hash`
  .github/actions/setup-uv/action.yaml
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  pyproject.toml
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/tests/test_transactions.py
  src/ethereum_test_types/types.py
  src/ethereum_test_vm/bytecode.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip5656_mcopy/test_mcopy.py
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_extcode.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tox.ini
  uv.lock
Labels: scope:tests, type:chore, type:refactor, scope:fw

#826 refactor(fixtures): Remove `formats.py`, embed properties as class vars
  src/cli/gen_index.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/eof.py
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/formats.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/verify.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_expect.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_tools/tests/test_code.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/decorator.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/forks/tests/test_forks.py
Labels: type:chore, type:refactor, scope:fw
