Repository ethereum/execution-spec-tests, pull requests merged in 2024-08, with the labels that each got.

#728 fix(fixtures): Fix index generation for EOF tests
  docs/CHANGELOG.md
  src/cli/gen_index.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/eof.py
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_eof.py
  src/ethereum_test_types/eof/v1/__init__.py
Labels: type:bug, type:refactor

#734 bug(consume): genesis block hash exception
  docs/CHANGELOG.md
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/exceptions.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
Labels: type:bug, scope:consume

#736 feat(github): Allow starts-with feature building when tagging
  .github/workflows/fixtures_feature.yaml
  docs/CHANGELOG.md
Labels: scope:ci, type:feat

#717 feat(consume): add reproducible consume/hive commands
  docs/CHANGELOG.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/filler/filler.py
  whitelist.txt
Labels: type:feat, scope:consume

#743 feat(plugins,forks,github): Allow dual-feature (Prague+Cancun) build on EOF releases
  .github/actions/build-besu-evm/action.yaml
  .github/actions/build-evm/action.yaml
  .github/actions/build-fixtures/action.yaml
  configs/evm-impl.yaml
  configs/evm.yaml
  configs/feature.yaml
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
  src/pytest_plugins/forks/forks.py
  tests/prague/eip7692_eof_v1/__init__.py
Labels: scope:forks, scope:pytest, scope:tests, scope:ci, type:feat, scope:fw

#750 refactor(ci): github configs and actions
  .github/actions/build-evm-base/action.yaml
  .github/actions/build-evm-client/besu/action.yaml
  .github/actions/build-evm-client/evmone/action.yaml
  .github/actions/build-evm-client/geth/action.yaml
  .github/actions/build-fixtures/action.yaml
  .github/configs/evm-impl.yaml
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  .github/workflows/coverage.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
  .github/workflows/tox_verify.yaml
  README.md
Labels: scope:ci, type:refactor

#739 feat(fw): New `with_all` markers for precompiles, create opcode + other fixes
  docs/CHANGELOG.md
  docs/writing_tests/test_markers.md
  docs/writing_tests/writing_a_new_test.md
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_tools/utility/pytest.py
  src/ethereum_test_tools/utility/tests/test_pytest.py
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/filler/pre_alloc.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_covariant_markers.py
  whitelist.txt
Labels: type:bug, scope:forks, scope:pytest, type:chore, type:feat, scope:fw

#741 new(tests): EOF - EIP-3540: out of order container section
  converted-ethereum-tests.txt
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_section_order.py
Labels: scope:tests, type:refactor, type:test

#764 chore: simplify python project config
  .flake8
  docs/CHANGELOG.md
  pyproject.toml
  setup.cfg
  setup.py
  tox.ini
Labels: type:chore

#765 refactor(tests): use extend with defaults
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_section_header_body_mismatch.py
Labels: scope:tests, type:refactor

#766 chore(consume): return exit-code from consume commands
  docs/CHANGELOG.md
  src/cli/pytest_commands/consume.py
Labels: type:chore, scope:consume

#763 new(tests): EOF - EIP-7620: migrate "embedded container" tests
  converted-ethereum-tests.txt
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Labels: scope:tests, type:refactor, type:test

#748 feat(tests): test all opcodes by fork
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_tools/tests/test_code.py
  tests/frontier/opcodes/test_all_opcodes.py
Labels: scope:tests

#772 feat(fill): add solc plugin and automatic installation of solc
  .github/actions/build-fixtures/action.yaml
  .github/workflows/coverage.yaml
  README.md
  docs/CHANGELOG.md
  docs/getting_started/executing_tests_command_line.md
  docs/getting_started/quick_start.md
  pyproject.toml
  pytest-framework.ini
  pytest.ini
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/solc.py
  src/pytest_plugins/filler/tests/conftest.py
  src/pytest_plugins/filler/tests/test_solc.py
  tox.ini
  whitelist.txt
Labels: type:feat, scope:fw

#778 fix(consume): couple of bugfixes when --input is a release tarball
  src/cli/gen_index.py
  src/pytest_plugins/consume/consume.py
Labels: type:bug, scope:consume

#762 feat(plugins/forks): Fix covariant markers, add `selector`/`marks` parameters
  docs/CHANGELOG.md
  docs/writing_tests/test_markers.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/helpers.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/__init__.py
  src/pytest_plugins/forks/tests/test_covariant_markers.py
  src/pytest_plugins/forks/tests/test_fork_parametrizer_types.py
  whitelist.txt
Labels: type:feat, scope:fw
