Repository ethereum/execution-spec-tests, pull requests merged in 2024-12, with the labels that each got.

#983 new(tests): EIP-7702: More delegation clearing tests
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests

#985 feat(docs): use `mkdocs-click` for documenting EEST CLIs
  docs/dev/documenting_clis.md
  docs/dev/index.md
  docs/library/cli/evm_bytes.md
  docs/navigation.md
  mkdocs.yml
  pyproject.toml
  src/cli/evm_bytes.py
  uv.lock
  whitelist.txt
Labels: scope:docs, type:feat, scope:tooling

#990 fix(types,tests): EIP-7685 fixes for devnet-5
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_forks/forks/contracts/consolidation_request.bin
  src/ethereum_test_forks/forks/contracts/withdrawal_request.bin
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/rpc/hive.py
  tests/prague/eip6110_deposits/conftest.py
  tests/prague/eip7002_el_triggerable_withdrawals/conftest.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7251_consolidations/conftest.py
  tests/prague/eip7251_consolidations/test_consolidations.py
  tests/prague/eip7685_general_purpose_el_requests/conftest.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:forks, scope:tests, scope:fw

#980 ✨ feat(cli): et clean
  docs/CHANGELOG.md
  docs/library/cli/et.md
  docs/library/cli/index.md
  src/cli/et/cli.py
  src/cli/et/commands/__init__.py
  src/cli/et/commands/clean.py
  src/cli/et/make/cli.py
  src/cli/et/make/commands/test.py
  whitelist.txt
Labels: type:feat, scope:eest

#993 ♻️ refactor(cli): rename `et` to `eest`
  docs/CHANGELOG.md
  docs/library/cli/eest.md
  docs/library/cli/et.md
  docs/library/cli/index.md
  docs/writing_tests/img/eest_make_test.mp4
  docs/writing_tests/index.md
  pyproject.toml
  src/cli/eest/__init__.py
  src/cli/eest/cli.py
  src/cli/eest/commands/__init__.py
  src/cli/eest/commands/clean.py
  src/cli/eest/make/__init__.py
  src/cli/eest/make/cli.py
  src/cli/eest/make/commands/__init__.py
  src/cli/eest/make/commands/test.py
  src/cli/eest/make/templates/blockchain_test.py.j2
  src/cli/eest/make/templates/state_test.py.j2
  src/cli/eest/quotes.py
  src/cli/et/__init__.py
  src/cli/et/commands/__init__.py
  whitelist.txt
Labels: type:refactor, scope:eest

#931 feat(fw,tests): EIP-7742: Framework changes
  docs/CHANGELOG.md
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/rpc/hive.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
Labels: scope:tests, type:feat, scope:fw, fork:prague

#997 fix(ci): use local eels
  .github/configs/eels_resolutions.json
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  tox.ini
Labels: type:bug, scope:ci, scope:tooling, scope:fill

#998 chore(docs): remove redirect to landing page & set latest alias to main
  .github/workflows/docs_tags.yaml
  docs/dev/docs.md
  docs/getting_started/overview.md
  docs/img/execution_spec_tests.png
  docs/index.md
  docs/navigation.md
Labels: scope:docs, type:chore

#996 ♻️ refactor(eest): Migrate `env_init` to `eest make env`
  docs/CHANGELOG.md
  docs/dev/configurations.md
  docs/library/cli/env_init.md
  docs/library/cli/index.md
  pyproject.toml
  src/cli/eest/make/cli.py
  src/cli/eest/make/commands/__init__.py
  src/cli/eest/make/commands/env.py
  src/config/env.py
Labels: type:refactor, scope:eest

#984 fix(tests): EIP-7702: Remove delegation behavior of EXTCODE*
  docs/CHANGELOG.md
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests, fork:prague

#933 feat(fixtures,specs,tests): Transaction tests, EIP-7702 convert invalid tx tests
  docs/CHANGELOG.md
  docs/consuming_tests/index.md
  docs/consuming_tests/transaction_test.md
  docs/navigation.md
  docs/writing_tests/types_of_tests.md
  src/cli/check_fixtures.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/transaction.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/tests/fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_specs/tests/fixtures/blockchain_london_valid_filled.json
  src/ethereum_test_specs/tests/fixtures/blockchain_shanghai_invalid_filled_engine.json
  src/ethereum_test_specs/tests/fixtures/blockchain_shanghai_valid_filled_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_istanbul_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_london_blockchain_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_paris_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_paris_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_blockchain_test_engine.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_state_test.json
  src/ethereum_test_specs/tests/fixtures/tx_simple_type_0_shanghai.json
  src/ethereum_test_specs/tests/helpers.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_specs/tests/test_transaction.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests, type:feat, scope:fw, fork:prague

#1003 fix(docs): fix link to installation troubleshooting in README
  README.md
Labels: type:bug, scope:docs

#1008 fix(tests): Fix `test_all_opcodes.py`
  tests/frontier/opcodes/test_all_opcodes.py
Labels: type:bug, scope:tests

#1000 chore(ci): update for `pectra-devnet-5`
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  eels_resolutions.json
Labels: scope:ci, type:chore

#1032 chore(tests): update eip-2537 bls precompile gas pricing
  tests/prague/eip2537_bls_12_381_precompiles/msm_discount_table.json
  tests/prague/eip2537_bls_12_381_precompiles/spec.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
  whitelist.txt
Labels: scope:tests, type:chore, fork:prague

#1026 chore(tests): EIP-7702: update auth.chainid in set code txs to u256
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests, type:chore, fork:prague

#1031 refactor(tests): EOF - EIP-4200: confirm migration of RJUMP* tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests, type:test

#1019 feat(pytest/plugins): Fork covariant parametrize
  docs/CHANGELOG.md
  docs/writing_tests/test_markers.md
  src/pytest_plugins/__init__.py
  src/pytest_plugins/forks/__init__.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_covariant_markers.py
  src/pytest_plugins/forks/tests/test_fork_parametrizer_types.py
Labels: scope:pytest, type:feat
