Repository ethereum/execution-spec-tests, pull requests merged in 2024-05, with the labels that each got.

#538 Call evmone eofparse during fill refactor
  setup.cfg
  src/ethereum_test_tools/exceptions/__init__.py
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/spec/eof/eof_test.py
  whitelist.txt
Labels: type:refactor

#519 feat(fw): Call `evmone-eofparse` on EOF tests filling
  docs/CHANGELOG.md
  setup.cfg
  src/ethereum_test_tools/exceptions/__init__.py
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  src/ethereum_test_tools/spec/eof/eof_test.py
  src/pytest_plugins/test_filler/test_filler.py
  tests/prague/eip3540_eof_v1/container.py
  tests/prague/eip3540_eof_v1/test_eof_example.py
  whitelist.txt
Labels: scope:pytest, type:feat

#539 docs(fix): small fix to tracing support in readme cf #511
  README.md
Labels: scope:docs

#546 fix(fw): Fix `MissingKey` and `KeyValueMismatch` exceptions `str`
  src/ethereum_test_tools/common/types.py
Labels: type:bug, scope:fw

#542 feat(pytest): use --tb=short as default for fill test reports
  docs/CHANGELOG.md
  pytest.ini
  whitelist.txt
Labels: scope:pytest, type:feat

#537 feat(pytest): add pytest-html plugin for html reports
  .gitignore
  docs/CHANGELOG.md
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/executing_tests_command_line.md
  docs/getting_started/img/evm_dump_dir_in_html_report.png
  docs/getting_started/img/pytest_collect_only.png
  docs/getting_started/img/pytest_run_example.png
  docs/getting_started/quick_start.md
  setup.cfg
  src/cli/pytest_commands.py
  src/cli/tests/test_pytest_commands.py
  src/ethereum_test_tools/spec/fixture_collector.py
  src/pytest_plugins/test_filler/test_filler.py
  src/pytest_plugins/test_filler/tests/test_test_filler.py
  whitelist.txt
Labels: scope:pytest, type:feat

#535 EOF: efExample validInvalid tests
  docs/CHANGELOG.md
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  src/ethereum_test_tools/spec/eof/eof_test.py
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip3540_eof_v1/container.py
  tests/prague/eip3540_eof_v1/test_example_valid_invalid.py
  whitelist.txt
Labels: scope:tests

#554 feat(tests): EOF folder structure re-org
  tests/prague/eip7692_eof_v1/__init__.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/__init__.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/code_validation.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/code_validation_function.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/code_validation_jump.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/opcodes.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/spec.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_code_validation.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_execution_function.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/__init__.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/spec.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/prague/eip7692_eof_v1/tracker.md
Labels: scope:tests, type:chore

#556 chore(fw): Utilize an EthRPC class within consume rlp
  docs/CHANGELOG.md
  src/ethereum_test_tools/rpc/__init__.py
  src/ethereum_test_tools/rpc/rpc.py
  tests_consume/test_via_rlp.py
Labels: type:chore, scope:fw

#562 fix(fw,forks,tox): Misc Prague fixes
  docs/CHANGELOG.md
  pytest.ini
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/vm/__init__.py
  tox.ini
Labels: scope:forks, type:chore, scope:fw

#565 fix: fix extending pytest args when adding hive parallelism
  src/cli/pytest_commands.py
Labels: type:bug, scope:fw

#567 fix(fw): warnings.warn in get_hive_flags_from_env()
  src/cli/pytest_commands.py
Labels: type:bug, scope:fw

#569 fix(consume): correctly forward test setup error to hive server
  src/pytest_plugins/pytest_hive/pytest_hive.py
Labels: type:bug, scope:pytest, hive

#478 new(test): self-destruct test for nonce > 1 self-destructing contracts
  docs/CHANGELOG.md
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Labels: scope:tests, type:test

#499 new(tests): EIP-2537: BLS12-381 Precompiles
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
  tests/prague/eip2537_bls_12_381_precompiles/__init__.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/helpers.py
  tests/prague/eip2537_bls_12_381_precompiles/msm_discount_table.json
  tests/prague/eip2537_bls_12_381_precompiles/spec.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp2_to_g2.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp_to_g1.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_precompiles_before_fork.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
  tests/prague/eip2537_bls_12_381_precompiles/vectors/add_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/add_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-add_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-add_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-map_fp2_to_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-map_fp_to_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-mul_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-mul_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-multiexp_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-multiexp_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-pairing_check_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/map_fp2_to_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/map_fp_to_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/mul_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/mul_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/multiexp_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/multiexp_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/pairing_check_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/test-vectors.md
  whitelist.txt
Labels: type:test

#564 new(tests): EIP-2935: Serve historical block hashes from state
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/history_contract.bin
  src/ethereum_test_tools/common/types.py
  tests/prague/eip2935_historical_block_hashes_from_state/__init__.py
  tests/prague/eip2935_historical_block_hashes_from_state/spec.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Labels: scope:tests, type:feat

#578 feat(rlp): add helpful assert message upon client initialization error in simulator
  tests_consume/test_via_rlp.py
Labels: type:feat, scope:consume, scope:fw

#576 fix(cli): update gentest to use pydantic models
  docs/CHANGELOG.md
  src/cli/gentest.py
  whitelist.txt
Labels: type:bug, scope:docs

#580 feat(consume): update hive ruleset for prague
  src/pytest_plugins/consume/hive_ruleset.py
Labels: type:feat, scope:consume

#577 fix(rlp): fix indexing in block rlp filenames
  tests_consume/test_via_rlp.py
Labels: type:bug, scope:consume, scope:fw

#582 fix(ci): update fixtures workflows and rename tox workflow
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
  .github/workflows/tox_verify.yaml
Labels: type:bug, scope:ci
