Repository ethereum/execution-spec-tests, pull requests merged in 2024-01, with the labels that each got.

#369 tools(fix): Storage iterator
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_types.py
Labels: scope:fw

#353 tools: Add transactions root calculation
  docs/CHANGELOG.md
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_fixtures/blockchain_shanghai_invalid_filled_hive.json
  whitelist.txt
Labels: scope:tools, type:chore

#357 feat: Add evm bytes to python converter
  docs/CHANGELOG.md
  setup.cfg
  src/entry_points/evm_bytes_to_python.py
  src/entry_points/tests/__init__.py
  src/entry_points/tests/test_evm_bytes_to_python.py
Labels: type:feat

#372 feat(tests): add reentrancy suicide revert test
  docs/CHANGELOG.md
  tests/cancun/eip6780_selfdestruct/test_reentrancy_selfdestruct_revert.py
Labels: scope:tests, type:feat

#364 Precompile modexp test cases
  docs/CHANGELOG.md
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/helpers.py
  tests/byzantium/__init__.py
  tests/byzantium/eip198_modexp_precompile/__init__.py
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
  whitelist.txt
Labels: scope:tests, type:feat

#386 refactor(fw): make exception classes `kw_only` dataclasses to improve testability
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  whitelist.txt
Labels: type:refactor, scope:fw

#371 feat(tests): callcode gas test when call stipend is applied to gas limit
  docs/CHANGELOG.md
  tests/frontier/opcodes/test_call_and_callcode_gas_calculation.py
  whitelist.txt
Labels: scope:tests, type:feat

#350 test(fw): Unit tests for post state verification errors
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_filling/__init__.py
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_valid_filled.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_shanghai_invalid_filled_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_shanghai_valid_filled_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_istanbul_blockchain_test.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_london_blockchain_test.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_paris_blockchain_test_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_paris_state_test.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_shanghai_blockchain_test_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_shanghai_state_test.json
  src/ethereum_test_tools/tests/test_filling/test_expect.py
  src/ethereum_test_tools/tests/test_filling/test_fixtures.py
Labels: type:test, scope:fw

#375 feat(docs,tools): Add fixture formats specifications to the documentation; Refactor types
  README.md
  docs/CHANGELOG.md
  docs/consuming_tests/blockchain_test.md
  docs/consuming_tests/blockchain_test_hive.md
  docs/consuming_tests/common_types.md
  docs/consuming_tests/index.md
  docs/consuming_tests/state_test.md
  docs/getting_started/using_fixtures.md
  docs/index.md
  docs/navigation.md
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_types.py
  whitelist.txt
Labels: scope:tools, scope:docs, type:refactor, type:feat

#397 fix(tools): remove `previousHash` from state test `env`
  src/ethereum_test_tools/spec/state/types.py
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_paris_state_test.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_shanghai_state_test.json
Labels: scope:tests

#382 feat(tests): dynamic create2 selfdestruct collision
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
Labels: scope:tests, type:test, type:feat

#399 fix(docs): fix syntax error in mermaid diagram
  docs/CHANGELOG.md
  docs/index.md
Labels: type:bug, scope:docs

#373 feat(docs): update for solc 0.8.23 support
  .github/workflows/test.yaml
  README.md
  docs/CHANGELOG.md
  docs/getting_started/quick_start.md
  src/ethereum_test_tools/tests/conftest.py
Labels: type:feat, scope:fw

#398 fix(tools): `FixtureHeader` join (for `rlp_modifier`)
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/tests/test_filling/test_fixtures.py
  src/ethereum_test_tools/tests/test_types_blockchain_test.py
Labels: type:bug, scope:fw

#401 tests: Add EIP-1153 loop until out-of-gas tests
  docs/CHANGELOG.md
  tests/cancun/eip1153_tstore/test_tstorage.py
Labels: type:test, type:feat

#403 docs: update changelog for release v2; fix nested lists in online doc
  docs/CHANGELOG.md
  mkdocs.yml
  setup.cfg
Labels: type:bug, scope:docs, type:chore

#406 fix(forks,fw): Fix transition forks on state tests
  docs/CHANGELOG.md
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_tools/spec/state/state_test.py
Labels: type:bug, scope:forks

#407 feat(tests): Add blob gas subtraction order tests
  docs/CHANGELOG.md
  tests/cancun/eip4844_blobs/test_blob_txs.py
Labels: scope:tests, type:feat

#408 ci (feature): use `run-parallel` and shared wheel packages for tox
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  docs/CHANGELOG.md
  docs/writing_tests/verifying_changes.md
  tox.ini
Labels: scope:docs, scope:ci, type:chore

#409 docs: Update changelog for v2.1.0 release
  docs/CHANGELOG.md
  whitelist.txt
Labels: scope:docs

#420 chore: fix deprecated vs code settings #344
  .vscode/extensions.json
  .vscode/settings.recommended.json
  docs/CHANGELOG.md
Labels: type:chore
