Repository ethereum/execution-spec-tests, pull requests merged in 2024-10, with the labels that each got.

#855 chore(ci): change image from ubuntu-24.04 to ubuntu-latest
  .github/workflows/coverage.yaml
  .github/workflows/docs_main.yaml
  .github/workflows/docs_tags.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
Labels: scope:ci, type:chore

#848 feat(docs): add a `SECURITY.md` describing how to report vulnerabilities
  README.md
  SECURITY.md
  docs/index.md
Labels: scope:docs, type:feat

#856 new(tests): EOF - EIP-4750: unreachable code sections
  converted-ethereum-tests.txt
  tests/prague/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Labels: scope:tests, type:test

#858 bug(ci): fix deploy docs tags workflow trigger
  .github/workflows/docs_tags.yaml
  docs/CHANGELOG.md
Labels: type:bug, scope:ci

#847 feat(docs,filler): add info about ripemd160 & update github actions
  docs/dev/test_actions_locally.md
  docs/getting_started/installation_troubleshooting.md
  docs/writing_tests/verifying_changes.md
  src/pytest_plugins/filler/filler.py
  whitelist.txt
Labels: scope:docs, type:feat, scope:fw

#853 🐞 fix: Datatable custom filter and other goodies
  docs/javascripts/site.js
  docs/stylesheets/custom.css
  docs/templates/function.html.j2
  docs/templates/function_parameter_datatable.html.j2
  mkdocs.yml
Labels: type:bug, scope:docs

#872 feat(fill): add a config file for the eels resolver to pin versions
  docs/CHANGELOG.md
  eels_resolutions.json
  pytest-framework.ini
  pytest.ini
  src/pytest_plugins/eels_resolver.py
  src/pytest_plugins/filler/tests/test_filler.py
  whitelist.txt
Labels: type:bug, type:feat, scope:fw

#879 feat(verkle): add two-way exhaustive witness checks
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/verkle/types.py
  tests/verkle/eip4762_verkle_gas_witness/test_balance.py
  tests/verkle/eip4762_verkle_gas_witness/test_calls.py
  tests/verkle/eip4762_verkle_gas_witness/test_codecopy_ext_precompile.py
  tests/verkle/eip4762_verkle_gas_witness/test_codecopy_generic.py
  tests/verkle/eip4762_verkle_gas_witness/test_coinbase_fees.py
  tests/verkle/eip4762_verkle_gas_witness/test_contract_execution.py
  tests/verkle/eip4762_verkle_gas_witness/test_creates.py
  tests/verkle/eip4762_verkle_gas_witness/test_extcodesize.py
  tests/verkle/eip4762_verkle_gas_witness/test_selfdestruct.py
  tests/verkle/eip4762_verkle_gas_witness/test_transfer.py
Labels: type:feat

#842 feat(docs): include all parameters in test parameter datatables
  docs/CHANGELOG.md
  docs/dev/docs.md
  docs/gen_test_case_reference.py
  docs/javascripts/site.js
  docs/stylesheets/custom.css
  docs/templates/base.md.j2
  docs/templates/function.html.j2
  docs/templates/function.md.j2
  docs/templates/function_parameter_datatable.html.j2
  docs/templates/module.md.j2
  mkdocs.yml
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
  tests/frontier/opcodes/test_dup.py
  tox.ini
  whitelist.txt
Labels: scope:docs, type:feat

#886 fix(cli): Fix hasher, skip `.meta`
  src/cli/hasher.py
Labels: type:bug, scope:fw

#894 refactor(ethereum_clis): move generic code from `TransitionTool` to a new generic base class `EthereumCLI`
  .flake8
  docs/CHANGELOG.md
  docs/library/ethereum_clis.md
  docs/library/evm_transition_tool.md
  docs/library/index.md
  docs/navigation.md
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/__init__.py
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_clis/ethereum_cli.py
  src/ethereum_clis/file_utils.py
  src/ethereum_clis/py.typed
  src/ethereum_clis/tests/fixtures/1/alloc.json
  src/ethereum_clis/tests/fixtures/1/env.json
  src/ethereum_clis/tests/fixtures/1/exp.json
  src/ethereum_clis/tests/fixtures/1/txs.json
  src/ethereum_clis/tests/fixtures/3/alloc.json
  src/ethereum_clis/tests/fixtures/3/env.json
  src/ethereum_clis/tests/fixtures/3/exp.json
  src/ethereum_clis/tests/fixtures/3/readme.md
  src/ethereum_clis/tests/fixtures/3/txs.json
  src/ethereum_clis/tests/test_evaluate.py
  src/ethereum_clis/tests/test_transition_tool.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_clis/types.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_expect.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
  src/pytest_plugins/forks/forks.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
  whitelist.txt
Labels: scope:evm, scope:tests, scope:docs, type:refactor, scope:fw

#887 feat(fill): emphasize that no tests were executed during a fill pytest session
  docs/CHANGELOG.md
  pyproject.toml
  pytest.ini
  src/cli/pytest_commands/fill.py
  src/cli/tests/test_pytest_fill_command.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/forks/forks.py
  uv.lock
Labels: scope:pytest, type:feat

#888 feat(fw): Changes required for Devnet-4 Tests
  docs/CHANGELOG.md
  docs/writing_tests/writing_a_new_test.md
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/filler/pre_alloc.py
Labels: type:chore, type:refactor, type:feat, scope:fw

#892 ✨ feat(all): add application-wide configuration manager
  .gitignore
  docs/CHANGELOG.md
  docs/dev/configurations.md
  docs/dev/index.md
  docs/gen_test_case_reference.py
  docs/library/cli/env_init.md
  docs/library/cli/index.md
  pyproject.toml
  src/cli/gentest.py
  src/config/__init__.py
  src/config/app.py
  src/config/docs.py
  src/config/env.py
  src/config/templates/env.yaml.j2
  uv.lock
Labels: type:feat, scope:gentest

#898 🧹 chore(Docs): Update devdocs navigation
  docs/dev/index.md
  docs/navigation.md
Labels: scope:docs, type:chore

#889 new(tests): EOF - EIP-4750: Stack validation in CALLF
  tests/osaka/eip7692_eof_v1/eip4750_functions/helpers.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
  whitelist.txt
Labels: scope:tests, type:feat

#909 fix(docs): fix/add test github actions locally page
  docs/dev/test_actions_locally.md
  whitelist.txt
Labels: type:bug, scope:docs

#795 feat(exceptions,specs): class to verify exception strings
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_exceptions/__init__.py
  src/ethereum_test_exceptions/evmone_exceptions.py
  src/ethereum_test_exceptions/exception_mapper.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_expect.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  whitelist.txt
Labels: scope:evm, type:feat, scope:fw

#912 new(tests): basic EOF execution tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_execution.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_extcode.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests, type:test

#916 new(tests): EOF - EIP-4200: migrate remaining RJUMP* execution tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
Labels: scope:tests, type:test

#913 refactor(tests): EOF - EIP-4750: parametrize CALLF execution tests
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
Labels: scope:tests, type:refactor

#790 feat(coverage): Enable coverage on any test change (rebased with uv)
  .github/actions/build-evm-client/evmone/action.yaml
  .github/workflows/coverage.yaml
Labels: type:feat

#910 feat(verkle): add parent root to witness
  .github/configs/evm.yaml
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/verkle/tests/test_verkle_witness.py
  src/ethereum_test_types/verkle/types.py
  src/evm_transition_tool/types.py
Labels: type:bug, type:feat

#915 new(tests): EOF - EIP-4750: add fibonacci and factorial tests for CALLF
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
Labels: scope:tests, type:test

#920 fix(cli/eofwrap): fix merge issue (EIP-7685 updates)
  src/cli/eofwrap.py
Labels: type:bug

#925 chore(consume): rename test suites
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/execute/rpc/hive.py
Labels: type:chore, scope:consume

#930 fix(cli/consume): fix duplication of user-provided pytest flags
  src/cli/pytest_commands/consume.py
Labels: type:bug, scope:consume

#929 feat(docs): reorganize top-level menus in online docs
  docs/consuming_tests/index.md
  docs/filling_tests/debugging_t8n_tools.md
  docs/filling_tests/filling_tests_command_line.md
  docs/filling_tests/filling_tests_dev_fork.md
  docs/filling_tests/filling_tests_vs_code.md
  docs/filling_tests/getting_started.md
  docs/filling_tests/img/evm_dump_dir_in_html_report.png
  docs/filling_tests/img/pytest_collect_only.png
  docs/filling_tests/img/pytest_run_example.png
  docs/filling_tests/img/vs_code_executing_tests.kra
  docs/filling_tests/img/vs_code_executing_tests.png
  docs/filling_tests/img/vs_code_exploring_tests.kra
  docs/filling_tests/img/vs_code_exploring_tests.png
  docs/filling_tests/index.md
  docs/filling_tests/transition_tool_support.md
  docs/getting_started/getting_help.md
  docs/getting_started/img/execution_spec_tests.png
  docs/getting_started/img/testing_pandas.png
  docs/getting_started/installation.md
  docs/getting_started/overview.md
  docs/getting_started/setup_vs_code.md
  docs/index.md
  docs/navigation.md
  docs/writing_tests/code_standards.md
  docs/writing_tests/tutorials/blockchain.md
  docs/writing_tests/tutorials/state_transition.md
  docs/writing_tests/tutorials/state_transition_bad_opcode.md
Labels: scope:docs, type:feat

#923 new(tests): EIP-7702: Add many-delegations test
  docs/CHANGELOG.md
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests

#914 new(tests): EOF - EIP-7692: migrate `CALLF` execution tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests, type:test
