Repository ethereum/execution-spec-tests, pull requests merged in 2025-01, with the labels that each got.

#1049 chore(README): `Contributing` section update
  README.md
Labels: type:chore

#1051 feat(ci): self-hosted fixture building
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
  docs/CHANGELOG.md
Labels: scope:ci, type:feat

#1064 feat(fixtures): Add `state` field to post in state tests
  docs/CHANGELOG.md
  docs/consuming_tests/state_test.md
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_state.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/fixtures/chainid_paris_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_state_test.json
Labels: scope:tests, type:feat

#1057 fix(plugins/forks): Make `fork_covariant_parametrize` into a marker
  docs/CHANGELOG.md
  docs/writing_tests/test_markers.md
  src/pytest_plugins/__init__.py
  src/pytest_plugins/forks/__init__.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_covariant_markers.py
  src/pytest_plugins/forks/tests/test_fork_parametrizer_types.py
Labels: scope:pytest, type:chore

#1036 new(tests): Add generic precompile-absence test
  docs/CHANGELOG.md
  tests/frontier/precompiles/__init__.py
  tests/frontier/precompiles/test_precompile_absence.py
Labels: scope:tests

#1050 fix(tests): EIP-7685: Remove outdated test, add more tests
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
Labels: type:bug, scope:tests, type:test

#1069 fix(pytest): add `parametrize_by_fork` marker to pytest's ini config
  src/pytest_plugins/forks/forks.py
Labels: type:bug, scope:pytest

#1023 feat(forks,specs,tests): EIP-7691, EIP-4844: Refactor to use dynamic parameters
  docs/CHANGELOG.md
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/helpers.py
  src/ethereum_test_specs/state.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/spec.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests, type:feat, fork:prague

#1076 chore(consume): add blob schedule rules to hive ruleset
  src/pytest_plugins/consume/hive_simulators/ruleset.py
Labels: type:chore, scope:consume

#975 ✨ feat(tests): PUSH*
  converted-ethereum-tests.txt
  tests/frontier/opcodes/test_push.py
Labels: scope:tests, type:feat

#1068 feat(types,specs,tests): Verify resulting transaction receipt
  docs/CHANGELOG.md
  docs/writing_tests/writing_a_new_test.md
  src/ethereum_clis/tests/test_execution_specs.py
  src/ethereum_clis/types.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/gas_costs.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_expect.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/types.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
  tests/prague/eip7623_increase_calldata_cost/conftest.py
  tests/prague/eip7623_increase_calldata_cost/test_execution_gas.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Labels: scope:tools, scope:tests, type:refactor, type:feat, scope:fw

#1080 chore(all): add ethereum-rlp as a dependency
  pyproject.toml
  uv.lock
Labels: type:chore

#1088 fix(fill,fw,ci): use t8n fork name in eels resolutions keys
  .github/configs/eels_resolutions.json
  eels_resolutions.json
Labels: type:bug, scope:ci, scope:fw, scope:fill

#1085 feat(github): Coverage script to detect blockchain tests
  .github/workflows/coverage.yaml
Labels: scope:ci, type:feat

#1075 feat(specs): verify intermidiate block state in blockchain test
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/tests/test_expect.py
  tests/frontier/examples/__init__.py
  tests/frontier/examples/test_block_intermediate_state.py
  whitelist.txt
Labels: scope:pytest, type:feat

#1095 feat(plugins/consume): Check port 8551 on Engine API tests
  docs/CHANGELOG.md
  src/pytest_plugins/consume/hive_simulators/conftest.py
Labels: type:bug, scope:consume

#1010 feat(framework): disallow assign of fixedbytes of size X to bytes of size Y when X != Y
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_base_types/conversions.py
  src/ethereum_test_base_types/tests/test_base_types.py
  src/ethereum_test_fixtures/tests/test_state.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_specs/tests/test_types.py
  src/ethereum_test_types/tests/test_helpers.py
  src/ethereum_test_types/tests/test_post_alloc.py
  src/ethereum_test_types/tests/test_transactions.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
  tests/cancun/eip1153_tstore/test_tstorage_execution_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_selfdestruct.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Labels: type:feat

#1063 fix(tests): EIP-2537: Update vectors
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/helpers.py
  tests/prague/eip2537_bls_12_381_precompiles/spec.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp2_to_g2.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp_to_g1.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/eip2537_bls_12_381_precompiles/vectors/add_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/add_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-add_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-add_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-map_fp2_to_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-map_fp_to_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-mul_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-mul_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-multiexp_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-multiexp_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-pairing_check_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/map_fp2_to_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/map_fp_to_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/mul_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/mul_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/multiexp_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/multiexp_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/pairing_check_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/test-vectors.md
Labels: type:bug, scope:tests

#1107 feat(tests): more blob gas tests for fork transitions
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
Labels: scope:tests, type:feat

#1082 feat(tests): EIP-7691: Fork transition tests
  docs/CHANGELOG.md
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
Labels: scope:tests, type:feat

#1097 fix(tests): EIP-7685: Return Engine API error code for invalid params
  tests/prague/eip7685_general_purpose_el_requests/conftest.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
  tests/prague/eip7685_general_purpose_el_requests/test_request_types.py
Labels: scope:tests, type:refactor

#1111 new(tests): extend tests for CALLF invalid section index
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Labels: scope:tests, type:test

#1112 new(tests): tests for JUMPF invalid section index
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
Labels: scope:tests

#1113 fix(fw): fix Address padding options
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_base_types/tests/test_base_types.py
Labels: type:bug, scope:fw

#1071 fix(tests): EIP-7623 update due to spec change
  docs/CHANGELOG.md
  tests/prague/eip7623_increase_calldata_cost/conftest.py
  tests/prague/eip7623_increase_calldata_cost/test_execution_gas.py
  tests/prague/eip7623_increase_calldata_cost/test_refunds.py
Labels: scope:tests, type:refactor, type:test

#1128 fix(github): Add `--skip-evm-dump` to `build-fixtures/action.yaml`
  .github/actions/build-fixtures/action.yaml
Labels: scope:ci, type:chore

#1122 new(tests): add one more CALLF execution test
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
Labels: scope:tests

#1121 chore(evm): use correct exception message for besu
  src/ethereum_clis/clis/besu.py
Labels: scope:evm, type:chore

#1127 new(tests): DATALOADN with truncated immediate bytes
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1132 feat(fill): also test system contract deployments with balance
  src/ethereum_test_tools/utility/generators.py
Labels: type:feat, scope:fill, fork:prague

#1118 feat(fill): improve performance when xdist is enabled
  docs/CHANGELOG.md
  docs/gen_test_case_reference.py
  pytest.ini
  src/cli/pytest_commands/fill.py
  src/ethereum_test_fixtures/file.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
  stubs/xdist/__init__.pyi
  stubs/xdist/methods.pyi
Labels: scope:pytest, type:feat, scope:fill

#1123 feat(t8n,filler): Append EELS resolution information to ``_info`` for generate test jsons
  docs/CHANGELOG.md
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_base_types/reference_spec/git_reference_spec.py
  src/ethereum_test_base_types/reference_spec/reference_spec.py
  src/ethereum_test_fixtures/base.py
  src/pytest_plugins/filler/filler.py
Labels: scope:evm, type:feat

#1146 uv.lock: Update eels resolver to `c35d96`
  uv.lock
Labels: type:chore, scope:tooling

#1138 fix(tests): EIP-7685 - raise `InvalidParams` for requests shorter than 1 byte
  tests/prague/eip7685_general_purpose_el_requests/conftest.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
  tests/prague/eip7685_general_purpose_el_requests/test_request_types.py
Labels: type:bug, scope:tests

#1144 feat(tests): EIP-7702: Invalid block test
  src/ethereum_clis/clis/execution_specs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests, type:test

#1124 new(tests): convert remaining EOF functions tests (EIP4750)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1150 test(gentest): add `--skip-evm-dump` option to `fill`
  src/cli/gentest/tests/test_cli.py
Labels: type:test, scope:gentest

#1148 test(fill): remove test for `phil`
  src/cli/tests/test_pytest_fill_command.py
Labels: scope:tests, scope:fill

#1152 fix(consume): add Cancun blob schedule variables to ruleset
  src/pytest_plugins/consume/hive_simulators/ruleset.py
Labels: type:chore, scope:consume

#1157 fix(execute): fix selected forks incompatibility
  src/pytest_plugins/execute/execute.py
Labels: type:bug, scope:execute

#1129 fix(tests): EIP-7702: Spec update #9248
  docs/CHANGELOG.md
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
Labels: scope:tests, type:test, fork:prague

#1161 new(tests): add new JUMPF tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1160 fix(tests): EIP-6110: Add `slow` marker to `many_deposits` test
  tests/prague/eip6110_deposits/test_deposits.py
Labels: type:bug, scope:tests
