Repository ethereum/execution-spec-tests, pull requests merged in 2025-03, with the labels that each got.

#1273 new(tests): EOF - CALLF/JUMPF/RETF and memory
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
Labels: scope:tests

#1275 feat(tests): add bls12 audit test cases for eip2537
  docs/CHANGELOG.md
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/eip2537_bls_12_381_precompiles/vectors/pairing_check_bls.json
Labels: scope:tests, type:feat

#1286 bug(fill,types): duplicate `FixtureAuthorizationTuple`'s `v` field as `yParity`
  docs/CHANGELOG.md
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/common.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
Labels: type:bug, scope:fill, fork:prague, scope:types

#1292 fix(docs,ci): don't include function pages in site search index
  docs/CHANGELOG.md
  docs/templates/function.md.j2
  whitelist.txt
Labels: type:bug, scope:docs, scope:ci

#1290 fix(types): implement `__eq__` for Removable
  src/ethereum_test_types/types.py
Labels: type:bug, scope:types

#1295 chore(fill,spec): write `fixture-format` not `fixture_format` to fixtures
  docs/CHANGELOG.md
  src/cli/eofwrap.py
  src/ethereum_test_fixtures/base.py
Labels: type:chore, scope:fill

#1296 chore(ci): use manual x-dist value for self-hosted runners
  .github/configs/evm-impl.yaml
  .github/configs/feature.yaml
  docs/CHANGELOG.md
Labels: scope:ci, type:chore

#1297 chore(docs): bump changelog for new release
  docs/CHANGELOG.md
Labels: scope:docs, type:chore

#1303 fix(consume): fixes for index generation with ethereum/tests
  docs/CHANGELOG.md
  src/cli/gen_index.py
Labels: type:bug, scope:consume

#1304 feat(consume): add `test_case.fork` as a marker for each test
  docs/CHANGELOG.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/transition_base_fork.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/help/tests/test_help.py
Labels: type:feat, scope:consume

#1250 feat(clis,consume): add nethermind support to `consume direct`
  docs/CHANGELOG.md
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/nethermind.py
  whitelist.txt
Labels: type:feat, scope:consume

#1310 chore(deps): Bump EELS dependency
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  eels_resolutions.json
  pyproject.toml
  uv.lock
Labels: type:chore, scope:fill, scope:deps

#1314 feat(consume): enable test case filtering by fixture format
  docs/CHANGELOG.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  whitelist.txt
Labels: type:feat, scope:consume

#1315 fix(consume): don't parametrize tests for unsupported fixture formats
  docs/CHANGELOG.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/decorator.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
Labels: type:bug, scope:consume

#1311 chore(fill): fix `--fork/from/until` for transition forks
  docs/CHANGELOG.md
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_markers.py
Labels: scope:forks, type:chore, scope:fill

#1313 chore(fill): fix transition fork state test node ids
  docs/CHANGELOG.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/transition_base_fork.py
  src/pytest_plugins/filler/filler.py
Labels: type:chore, scope:fill

#1276 chore(fill): fix for geth transition tool
  docs/CHANGELOG.md
  src/ethereum_clis/clis/geth.py
Labels: type:chore, scope:fill

#1318 fix(consume): allow consumption of fixtures with unknown forks
  docs/CHANGELOG.md
  src/cli/gen_index.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_forks/helpers.py
  src/pytest_plugins/consume/consume.py
Labels: type:bug, scope:consume

#1319 fix(ci,docs): fix docs deployment
  .github/workflows/docs_deploy.yaml
Labels: type:bug, scope:docs, scope:ci

#1224 new(tests): add state test with empty 7702 authorization list
  src/ethereum_clis/clis/execution_specs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests

#1284 fix(tests): EOF - Rename RETURNCONTRACT to RETURNCODE
  src/ethereum_test_specs/eof.py
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/tests/test_eof_v1.py
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/opcodes.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_opcodes_in_legacy.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/__init__.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/helpers.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_returncode.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/test_eof_creation_tx.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
  whitelist.txt
Labels: scope:tests, type:refactor, scope:fw

#1306 feat(consume): add support for ethereum/{tests,legacytests} tarball urls
  docs/CHANGELOG.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/releases.py
  whitelist.txt
Labels: type:feat, scope:consume

#1204 refactor(plugins/execute): Refactor account refunds logic
  src/cli/gentest/request_manager.py
  src/ethereum_test_rpc/rpc.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/execute/sender.py
Labels: type:bug, scope:pytest, type:refactor, scope:execute

#1323 chore(ci): fix github pages docs push
  .github/workflows/docs_deploy.yaml
Labels: scope:ci, type:chore

#1332 fix(cli/gen_index): Fix index generation for EOF files
  src/cli/gen_index.py
Labels: type:bug, scope:consume

#1338 chore(tooling): add pylance to recommended vs code extensions
  .vscode/extensions.json
Labels: type:chore, scope:tooling

#1334 chore(ci): pin github actions at hashed versions
  .github/actions/build-evm-client/besu/action.yaml
  .github/actions/build-evm-client/ethjs/action.yml
  .github/actions/build-evm-client/evmone/action.yaml
  .github/actions/build-evm-client/geth/action.yaml
  .github/actions/build-fixtures/action.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docs_deploy.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
  .github/workflows/tox_verify.yaml
Labels: scope:ci, type:chore

#1333 chore(consume): fix `--sim.limit` in hive commands shown in test reports
  docs/CHANGELOG.md
  src/pytest_plugins/consume/hive_simulators/conftest.py
Labels: type:chore, scope:consume

#1342 fix(make): include jinja2 templates in eest package
  docs/CHANGELOG.md
  pyproject.toml
Labels: type:bug, scope: eest make

#1343 chore(ci): explicity define version range for `pycryptodome`.
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
  whitelist.txt
Labels: scope:ci, type:chore

#1352 fix(deps): revert pycryptodome to version used before #1343
  uv.lock
Labels: type:bug, scope:deps

#1358 fix(tests): EIP-7702 verification/merge issue
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: type:bug, scope:tests

#1357 fix(plugins/spec_version_checker): Sort modules
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
Labels: type:bug, scope:pytest

#1244 feat(tests) Additional blake2 precompile tests
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  tests/istanbul/eip152_blake2/test_blake2.py
  tests/istanbul/eip152_blake2/test_blake2_callcode.py
  tests/istanbul/eip152_blake2/test_blake2_delegatecall.py
Labels: type:feat, port

#1355 chore: update hive ruleset and add osaka
  docs/CHANGELOG.md
  src/pytest_plugins/consume/hive_simulators/ruleset.py
Labels: type:chore, scope:consume, fork:osaka
