Repository ethereum/execution-spec-tests, pull requests merged in 2025-06, with the labels that each got.

#1698 zkevm: add 0-param opcodes coverage
  tests/zkevm/test_worst_compute.py
Labels: type:test, type:feat, feature:zkevm

#1659 feat(tests/zkevm): add worst-case benchmarks for `ADDMOD` and `MULMOD`
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, type:feat, feature:zkevm

#1579 feat(tests): eip-7883 & eip-7823 modexp cases
  docs/CHANGELOG.md
  eels_resolutions.json
  src/ethereum_test_types/helpers.py
  tests/byzantium/eip198_modexp_precompile/helpers.py
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
  tests/istanbul/eip152_blake2/common.py
  tests/osaka/eip7823_modexp_upper_bounds/__init__.py
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
  tests/osaka/eip7883_modexp_gas_increase/__init__.py
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/helpers.py
  tests/osaka/eip7883_modexp_gas_increase/spec.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
  tests/osaka/eip7883_modexp_gas_increase/vectors.json
  whitelist.txt
Labels: scope:tests, type:feat, fork:osaka

#1686 refactor(forks): Make `Fork` Pydantic-Compatible
  docs/writing_tests/fork_methods.md
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/eof.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_base.py
  src/ethereum_test_fixtures/tests/test_eof.py
  src/ethereum_test_fixtures/transaction.py
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blobs.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/ruleset.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/shared/execute_fill.py
  tests/unscheduled/eip7692_eof_v1/eip7873_tx_create/test_txcreate_failures.py
Labels: type:refactor, scope:fw

#1721 chore: fix spellcheck in filler eip checklist
  src/pytest_plugins/filler/eip_checklist.py
Labels: scope:ci, type:chore

#1727 fix(docs): links
  docs/dev/porting_legacy_tests.md
  docs/writing_tests/writing_a_new_test.md
Labels: type:chore

#1711 feat(tests): EIP-7825: Transaction Gas Limit Cap
  .github/workflows/coverage.yaml
  docs/CHANGELOG.md
  eels_resolutions.json
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_clis/clis/reth.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  tests/osaka/eip7825_transaction_gas_limit_cap/__init__.py
  tests/osaka/eip7825_transaction_gas_limit_cap/test_tx_gas_limit.py
Labels: scope:tests, type:feat, fork:osaka

#1722 chore: use latest eels resolver
  pyproject.toml
  uv.lock
Labels: type:chore, scope:tooling

#1172 docs(consume): add consume command documentation
  .markdownlint.yaml
  README.md
  docs/CHANGELOG.md
  docs/consuming_tests/index.md
  docs/executing_tests/index.md
  docs/filling_tests/index.md
  docs/filling_tests/test_ids.md
  docs/getting_started/installation_troubleshooting.md
  docs/index.md
  docs/navigation.md
  docs/running_tests/consume/cache.md
  docs/running_tests/consume/direct.md
  docs/running_tests/consume/exceptions.md
  docs/running_tests/consume/index.md
  docs/running_tests/consume/simulators.md
  docs/running_tests/execute/hive.md
  docs/running_tests/execute/index.md
  docs/running_tests/execute/remote.md
  docs/running_tests/hive/ci_integration.md
  docs/running_tests/hive/client_config.md
  docs/running_tests/hive/common_options.md
  docs/running_tests/hive/dev_mode.md
  docs/running_tests/hive/hiveview.md
  docs/running_tests/hive/index.md
  docs/running_tests/index.md
  docs/running_tests/releases.md
  docs/running_tests/running.md
  docs/running_tests/test_formats/blockchain_test.md
  docs/running_tests/test_formats/blockchain_test_engine.md
  docs/running_tests/test_formats/common_types.md
  docs/running_tests/test_formats/eof_test.md
  docs/running_tests/test_formats/exceptions.md
  docs/running_tests/test_formats/index.md
  docs/running_tests/test_formats/state_test.md
  docs/running_tests/test_formats/transaction_test.md
  docs/running_tests/useful_pytest_options.md
  docs/writing_tests/exception_tests.md
  docs/writing_tests/tutorials/state_transition.md
  whitelist.txt
Labels: scope:docs, scope:consume

#1706 feat(fill): enable shared pre-allocation groups and add `BlockchainEngineReorgFixture`
  docs/CHANGELOG.md
  docs/navigation.md
  docs/running_tests/test_formats/blockchain_test_engine_reorg.md
  pyproject.toml
  pytest-execute.ini
  pytest.ini
  src/cli/gen_index.py
  src/cli/pytest_commands/base.py
  src/cli/pytest_commands/fill.py
  src/cli/show_pre_alloc_group_stats.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/shared_alloc.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_types/account_types.py
  src/ethereum_test_types/block_types.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/pre_alloc.py
  src/pytest_plugins/filler/tests/test_collect_only.py
  src/pytest_plugins/filler/tests/test_pre_alloc.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
  src/pytest_plugins/filler/tests/test_prealloc_group_usage_example.py
  src/pytest_plugins/forks/tests/test_forks.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_contract_deployment.py
  tests/prague/eip6110_deposits/test_deposits.py
  tests/prague/eip6110_deposits/test_modified_contract.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_contract_deployment.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_modified_withdrawal_contract.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests_during_fork.py
  tests/prague/eip7251_consolidations/test_consolidations.py
  tests/prague/eip7251_consolidations/test_consolidations_during_fork.py
  tests/prague/eip7251_consolidations/test_contract_deployment.py
  tests/prague/eip7251_consolidations/test_modified_consolidation_contract.py
  tests/prague/eip7685_general_purpose_el_requests/test_multi_type_requests.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  whitelist.txt
Labels: type:feat, scope:fill

#1749 chore(tooling): add CLAUDE.md
  CLAUDE.md
  HUMANS.md
  docs/CHANGELOG.md
Labels: scope:tooling, type:docs

#1744 feat(zkevm): add p256verify to worst compute tests
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, feature:zkevm

#1742 feat(zkevm): create pure ether transfer worst case
  docs/CHANGELOG.md
  tests/zkevm/test_worst_blocks.py
Labels: feature:zkevm

#1755 ✨ feat: Align TransactionHashByResponse to Transaction
  src/cli/gentest/test_context_providers.py
  src/ethereum_test_rpc/types.py
Labels: scope:gentest

#1710 fix(tests/zkevm): update jump seq for valid dest
  tests/zkevm/test_worst_compute.py
Labels: type:feat, feature:zkevm

#1760 refactor(fill,fixtures): rename "engine reorg" to "engine x"; improve pre-allocation group terminology
  docs/CHANGELOG.md
  docs/library/cli/extract_config.md
  docs/navigation.md
  docs/running_tests/test_formats/blockchain_test_engine_x.md
  src/cli/extract_config.py
  src/cli/pytest_commands/fill.py
  src/cli/show_pre_alloc_group_stats.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/pre_alloc_groups.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/pre_alloc.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
  src/pytest_plugins/forks/tests/test_forks.py
Labels: type:refactor, scope:fill

#1769 feat(zkevm/tests): add worst case tests for SWAP opcodes
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, feature:zkevm

#1733 feat(tests): add CLZ opcode EIP-7939) tests
  docs/CHANGELOG.md
  eels_resolutions.json
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7939_count_leading_zeros/__init__.py
  tests/osaka/eip7939_count_leading_zeros/spec.py
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
  whitelist.txt
Labels: scope:tests, type:feat, fork:osaka

#1767 feat(zkevm/test): add worst case test for multiple DUP opcodes
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, feature:zkevm

#1786 docs(consume,execute): add hive dev mode macOS workaround
  docs/CHANGELOG.md
  docs/running_tests/hive/dev_mode.md
Labels: scope:docs, type:docs

#1789 chore(cli): add block rlp size limit exceptions
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_clis/clis/reth.py
Labels: type:chore, fork:osaka, scope:cli

#1788 refactor(consume): avoid github api calls for direct url fixture inputs
  docs/CHANGELOG.md
  docs/running_tests/consume/cache.md
  docs/running_tests/hive/dev_mode.md
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/tests/test_fixtures_source_input_types.py
Labels: type:refactor, scope:consume

#1787 chore(deps): remove dependency on `ethereum-execution`
  .github/configs/eels_resolutions.json
  .github/workflows/tox_verify.yaml
  pyproject.toml
  src/ethereum_test_types/account_types.py
  src/ethereum_test_types/trie.py
  src/pytest_plugins/execute/rpc/hive.py
  uv.lock
Labels: type:chore, scope:deps

#1799 test(zkevm): add extra test case for ecAdd, ecMul and ecPairing
  tests/zkevm/test_worst_compute.py
Labels: type:test, feature:zkevm

#1808 chore(all): remove python 3.10 support
  .github/scripts/get_release_props.py
  .github/workflows/tox_verify.yaml
  README.md
  docs/CHANGELOG.md
  docs/getting_started/installation.md
  docs/running_tests/hive/dev_mode.md
  pyproject.toml
  uv.lock
Labels: type:chore, scope:deps

#1815 chore(consume): retry logic for initial consume engine fcu
  docs/CHANGELOG.md
  src/pytest_plugins/consume/simulators/hive_tests/test_via_engine.py
Labels: type:chore, scope:consume

#1816 chore(ci): Add self hosted runner to Ubuntu tests_deployed Github workflow
  .github/workflows/tox_verify.yaml
Labels: scope:ci

#1745 feat(zkevm): add log opcode worst case
  tests/zkevm/test_worst_opcode.py
Labels: scope:tests, feature:zkevm, feature:benchmark
