Repository ethereum/execution-spec-tests, pull requests merged in 2025-07, with the labels that each got.

#1812 refactor(all): modernize codebase with python 3.11 features
  docs/CHANGELOG.md
  src/cli/order_fixtures.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_base_types/pydantic.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/static_state/common/compile_yul.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_tools/utility/generators.py
  src/ethereum_test_types/account_types.py
  src/ethereum_test_types/trie.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/logging/logging.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
  tests/istanbul/eip152_blake2/test_blake2.py
Labels: scope:tests, type:refactor, scope:fw

#1830 bug(tests): enforce transaction gas limit in Osaka
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
Labels: type:bug, scope:tests, fork:osaka

#1822 refactor(benchmark): don't mark the BLS12-381 tests for benchmarking
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
Labels: scope:tests, type:chore, feature:zkevm

#1824 feat(tests): add jump operation test case for CLZ
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Labels: type:test, fork:osaka

#1776 chore(ci|tests): more updates for fusaka devnet 2 release
  .github/configs/feature.yaml
  eels_resolutions.json
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Labels: scope:tests, scope:ci, type:chore, fork:osaka

#1804 refactor(benchmark): rename `zkevm` tests to `benchmark`
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  docs/getting_started/code_standards.md
  docs/running_tests/releases.md
  src/ethereum_test_specs/base.py
  src/pytest_plugins/shared/execute_fill.py
  tests/benchmark/__init__.py
  tests/benchmark/conftest.py
  tests/benchmark/helpers.py
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_opcode.py
  tests/benchmark/test_worst_stateful_opcodes.py
  tox.ini
  whitelist.txt
Labels: scope:ci, type:chore, feature:zkevm, feature:benchmark

#1614 feat(tests): ckzg functions for peerdas tests
  docs/CHANGELOG.md
  pyproject.toml
  src/ethereum_test_execution/blob_transaction.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/blob_types.py
  src/ethereum_test_types/kzg_trusted_setup.txt
  src/ethereum_test_types/tests/test_blob_types.py
  src/ethereum_test_types/transaction_types.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/osaka/eip7594_peerdas/spec.py
  tests/osaka/eip7594_peerdas/test_get_blobs.py
  uv.lock
  whitelist.txt
Labels: scope:tests, type:feat, fork:osaka

#1800 test(benchmark): add coverage for CALLDATACOPY, CODECOPY, RETURNDATACOPY and MCOPY
  tests/benchmark/test_worst_memory.py
Labels: type:test, feature:zkevm, feature:benchmark

#1848 refactor(tests): Use relative imports in tests directory
  docs/CHANGELOG.md
  tests/benchmark/test_worst_compute.py
  tests/frontier/identity_precompile/test_identity_returndatasize.py
  tests/unscheduled/eip7692_eof_v1/eip7620_eof_create/test_legacy_eof_creates.py
  tests/unscheduled/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
  tests/unscheduled/eip7692_eof_v1/eip7873_tx_create/test_txcreate_validates.py
  tests/unscheduled/eip7692_eof_v1/gas_test.py
Labels: scope:tests, type:refactor

#1856 fix(tests): fix invalid log opcode keyword 7702 fails
  docs/CHANGELOG.md
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: type:bug, scope:tests

#1779 refactor(fill,deps): forbid yul code in python tests; remove `solc-select` dependency
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/CHANGELOG.md
  docs/dev/porting_legacy_tests.md
  docs/getting_started/installation.md
  docs/getting_started/installation_troubleshooting.md
  docs/running_tests/test_formats/blockchain_test_engine_x.md
  docs/running_tests/test_formats/common_types.md
  docs/writing_tests/fork_methods.md
  docs/writing_tests/tutorials/blockchain.md
  docs/writing_tests/tutorials/state_transition.md
  docs/writing_tests/tutorials/state_transition_bad_opcode.md
  docs/writing_tests/writing_a_new_test.md
  pyproject.toml
  pytest-check-eip-versions.ini
  pytest-execute-hive.ini
  pytest-execute.ini
  pytest.ini
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_specs/static_state/common/compile_yul.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/static_filler.py
  src/pytest_plugins/help/tests/test_help.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/solc/solc.py
  src/pytest_plugins/solc/tests/__init__.py
  src/pytest_plugins/solc/tests/test_solc.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/constantinople/eip1014_create2/test_recreate.py
  tests/homestead/yul/test_yul_example.py
  tox.ini
  uv.lock
Labels: scope:pytest, type:refactor, scope:fill, scope:deps

#1857 refactor(tests): double P256VERIFY gas constant
  tests/osaka/eip7951_p256verify_precompiles/spec.py
Labels: type:refactor, fork:osaka

#1872 docs(tests): update porting ethereum/tests instructions
  CONTRIBUTING.md
  docs/dev/index.md
  docs/navigation.md
  docs/writing_tests/index.md
  docs/writing_tests/porting_legacy_tests.md
Labels: scope:tests, type:docs

#1875 chore(cli): update regex exception in nethermind mapper
  src/ethereum_clis/clis/nethermind.py
Labels: type:chore, scope:cli

#1858 feat(tests): add codecopy and extcodecopy for clz opcode
  tests/osaka/eip7939_count_leading_zeros/spec.py
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Labels: scope:tests, type:feat, fork:osaka

#1888 chore(tests): update gas field in eip-7951 r1 vectors
  tests/osaka/eip7951_p256verify_precompiles/vectors/secp256r1_test.json
Labels: scope:tests, type:chore, fork:osaka

#1887 chore(tests): update gas cost configuration for clz
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Labels: scope:tests, type:chore, fork:osaka

#1863 feat(clis,pytest-plugins): allow pytest commands from package, add`execute eth-config` command
  docs/CHANGELOG.md
  docs/filling_tests/debugging_t8n_tools.md
  docs/navigation.md
  docs/running_tests/execute/eth_config.md
  docs/running_tests/execute/index.md
  docs/scripts/generate_fill_help.py
  pyproject.toml
  pytest-framework.ini
  src/cli/gentest/tests/test_cli.py
  src/cli/pytest_commands/base.py
  src/cli/pytest_commands/checklist.py
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/execute.py
  src/cli/pytest_commands/fill.py
  src/cli/pytest_commands/processors.py
  src/cli/pytest_commands/pytest_ini_files/pytest-check-eip-versions.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-consume.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute-eth-config.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute-hive.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute-recover.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-fill.ini
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_base_types/conversions.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_rpc/__init__.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/tests/__init__.py
  src/ethereum_test_rpc/tests/test_types.py
  src/ethereum_test_rpc/types.py
  src/pytest_plugins/consume/tests/test_consume_args.py
  src/pytest_plugins/eels_resolutions.json
  src/pytest_plugins/eels_resolver.py
  src/pytest_plugins/execute/eth_config/__init__.py
  src/pytest_plugins/execute/eth_config/eth_config.py
  src/pytest_plugins/execute/eth_config/execute_eth_config.py
  src/pytest_plugins/execute/eth_config/networks.yml
  src/pytest_plugins/execute/eth_config/tests/__init__.py
  src/pytest_plugins/execute/eth_config/tests/test_execute_eth_config.py
  src/pytest_plugins/execute/eth_config/types.py
  src/pytest_plugins/execute/execute_recover.py
  src/pytest_plugins/filler/tests/test_collect_only.py
  src/pytest_plugins/filler/tests/test_eip_checklist.py
  src/pytest_plugins/filler/tests/test_filler.py
  src/pytest_plugins/filler/tests/test_output_directory.py
  src/pytest_plugins/forks/tests/test_bad_command_line_options.py
  src/pytest_plugins/forks/tests/test_bad_validity_markers.py
  src/pytest_plugins/forks/tests/test_covariant_markers.py
  src/pytest_plugins/forks/tests/test_forks.py
  src/pytest_plugins/forks/tests/test_markers.py
  src/pytest_plugins/help/help.py
  src/pytest_plugins/help/tests/test_help.py
  src/pytest_plugins/working_directory.py
  tox.ini
Labels: type:feat, scope:tooling, scope:execute, P-medium

#1897 fix(plugins/consume): Rename `hive_tests` to `simulator_logic`
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/simulators/simulator_logic/__init__.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_rlp.py
Labels: type:bug, scope:consume

#1903 chore(deps): restore `uv.lock` revision to v2; upgrade `certifi`
  uv.lock
Labels: type:chore, scope:deps

#1909 feat(packaging,types): add kzg setup to package-data
  pyproject.toml
Labels: type:feat, scope:types, scope:packaging

#1915 chore(forks): update blob base cost in forks
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
Labels: scope:forks, type:chore, fork:osaka

#1890 feat(tests): Additional EIP-7934 test cases
  docs/CHANGELOG.md
  docs/writing_tests/test_markers.md
  src/cli/pytest_commands/pytest_ini_files/pytest-check-eip-versions.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute-hive.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-execute.ini
  src/cli/pytest_commands/pytest_ini_files/pytest-fill.ini
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_covariant_markers.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/shared/transaction_fixtures.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
  tests/cancun/eip6780_selfdestruct/conftest.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/osaka/eip7934_block_rlp_limit/conftest.py
  tests/osaka/eip7934_block_rlp_limit/spec.py
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
  tests/osaka/eip7951_p256verify_precompiles/conftest.py
  tests/prague/eip7623_increase_calldata_cost/conftest.py
  tests/prague/eip7702_set_code_tx/test_calls.py
  tests/shanghai/eip3651_warm_coinbase/conftest.py
  tests/shanghai/eip3855_push0/conftest.py
  tests/shanghai/eip3860_initcode/conftest.py
  tests/shanghai/eip4895_withdrawals/conftest.py
  tests/unscheduled/eip7692_eof_v1/eip7069_extcall/test_calls.py
Labels: scope:pytest, scope:tests, type:feat

#1937 fix(github): Remove `--solc-version` flag from fixture building action
  .github/actions/build-fixtures/action.yaml
  .github/configs/feature.yaml
Labels: type:bug, scope:ci

#1854 (feat)ci: pypy3.11 support
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  pyproject.toml
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_fixtures/blockchain.py
  tox.ini
  uv.lock
Labels: scope:ci, type:feat, scope:deps

#1943 fix(plugins): Remove cwd change before running pytest
  src/cli/pytest_commands/base.py
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/execute.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/fix_package_test_path.py
  src/pytest_plugins/working_directory.py
Labels: type:bug, scope:pytest, P-high

#1853 feat(tests): add eip7702 test case for clz opcode
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Labels: type:test, fork:osaka

#1950 chore: bump eels resolver
  .github/configs/eels_resolutions.json
  pyproject.toml
  src/pytest_plugins/eels_resolutions.json
  uv.lock
Labels: type:chore, P-medium

#1936 fix(plugins): Don't copy test list during collection
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
Labels: type:bug, scope:pytest

#1953 chore(tests): remove slow/zkevm markers from benchmark tests
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_stateful_opcodes.py
Labels: scope:tests, type:chore, feature:benchmark

#1928 fix(tests): EIP-7825: Pre-Osaka tests consuming tx gas above cap
  docs/CHANGELOG.md
  tests/cancun/eip1153_tstore/test_tstorage.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/istanbul/eip1344_chainid/test_chainid.py
  tests/istanbul/eip152_blake2/test_blake2.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
  tests/prague/eip6110_deposits/test_deposits.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests, fork:osaka

#1920 chore(benchmark): don't fill benchmark tests by default
  tests/benchmark/conftest.py
  tox.ini
Labels: type:chore, feature:benchmark

#1958 chore(clis): update geth exception mapper for `TYPE_3_TX_BLOB_COUNT_EXCEEDED`
  src/ethereum_clis/clis/geth.py
Labels: type:chore, scope:cli

#1935 feat(specs,tests): Update all benchmark tests to use `gas_benchmark_value`
  docs/CHANGELOG.md
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/shared/benchmarking.py
  src/pytest_plugins/shared/execute_fill.py
  tests/benchmark/test_worst_blocks.py
  tests/benchmark/test_worst_bytecode.py
  tests/benchmark/test_worst_compute.py
  tests/benchmark/test_worst_memory.py
  tests/benchmark/test_worst_opcode.py
  tests/benchmark/test_worst_stateful_opcodes.py
  tox.ini
Labels: type:feat, feature:benchmark

#1962 chore(ci): bump to use latest eels `forks/osaka`
  .github/workflows/tox_verify.yaml
  src/pytest_plugins/eels_resolutions.json
Labels: scope:ci, type:chore, scope:tooling

#1965 feat(tests): extra clz param for scenarios test case
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Labels: scope:tests, type:feat, fork:osaka

#1784 feat(cli): resolve updated execution_spec exceptions
  src/ethereum_clis/clis/execution_specs.py
Labels: type:feat, scope:cli

#1780 tests(benchmark): expand worst case modexp benchmarks
  tests/benchmark/test_worst_compute.py
Labels: scope:tests, feature:zkevm, feature:benchmark

#1829 feat(tests): add call operation test case for CLZ
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Labels: type:test, fork:osaka

#1821 feat(tests): extra stack operation test for CLZ opcode
  tests/osaka/eip7939_count_leading_zeros/test_count_leading_zeros.py
Labels: type:test, fork:osaka
