Repository ethereum/execution-spec-tests, pull requests merged in 2025-08, with the labels that each got.

#1845 feat(benchmark): add clz opcode test case
  tests/benchmark/test_worst_compute.py
Labels: fork:osaka, feature:benchmark

#1975 chore(tests): fix pre alloc grouping remaining fails
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
  tests/prague/eip6110_deposits/test_modified_contract.py
Labels: scope:tests, type:chore, fork:osaka

#1995 chore(tests): remove temp fix for block rlp type 4
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
Labels: scope:tests, type:chore, fork:osaka

#1983 chore(benchmark): update gas limit configuration
  .github/configs/feature.yaml
Labels: feature:benchmark

#1954 chore(ci): preparation for next full release
  .github/configs/evm-impl.yaml
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  src/ethereum_clis/clis/execution_specs.py
Labels: scope:ci, type:chore, fork:osaka, feature:eof, feature:benchmark, P-medium

#2005 feat(tests): add case for large exp with zero mod/base length
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
Labels: scope:tests, type:feat, fork:osaka

#2001 chore(benchmark): update max env gas
  src/pytest_plugins/shared/benchmarking.py
Labels: scope:pytest, type:chore, feature:benchmark

#1999 fix(tests): Fix `ModExpInput.from_bytes`
  tests/byzantium/eip198_modexp_precompile/helpers.py
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/vectors.json
Labels: type:bug, scope:tests

#2011 chore(tests): exception hotfix
  tests/osaka/eip7594_peerdas/test_max_blob_per_tx.py
Labels: scope:tests, type:chore, fork:osaka

#2010 refactor(fill): extract phase management into testable components
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/static_filler.py
  src/pytest_plugins/filler/tests/test_filling_session.py
  src/pytest_plugins/filler/tests/test_format_selector.py
  src/pytest_plugins/filler/tests/test_phase_manager.py
Labels: type:refactor, scope:fill

#2006 feat(specs,filler,ci): Merge static tests into stable/develop, make `--generate-all-formats` compatible with static tests
  .github/configs/feature.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
  docs/CHANGELOG.md
  src/cli/pytest_commands/fill.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_specs/blockchain.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/static_filler.py
  src/pytest_plugins/filler/tests/test_filling_session.py
  src/pytest_plugins/filler/tests/test_format_selector.py
  src/pytest_plugins/filler/tests/test_phase_manager.py
Labels: scope:pytest, scope:ci, type:feat

#2017 fix(tests): Remove duplicates from secp256r1_test.json
  tests/osaka/eip7951_p256verify_precompiles/helpers.py
  tests/osaka/eip7951_p256verify_precompiles/vectors/secp256r1_test.json
Labels: scope:tests, type:chore

#2024 fix(ci,clis): Change ci runner, fix `timeout-minutes`, Increase t8n timeout
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
  src/ethereum_clis/transition_tool.py
Labels: scope:ci, type:chore

#2007 feat(consume): Add `consume sync` tests to sync clients after engine tests
  docs/CHANGELOG.md
  docs/running_tests/running.md
  docs/running_tests/test_formats/blockchain_test_sync.md
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/processors.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_rpc/__init__.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/simulators/base.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_sync.py
  src/pytest_plugins/consume/simulators/single_test_client.py
  src/pytest_plugins/consume/simulators/sync/__init__.py
  src/pytest_plugins/consume/simulators/sync/conftest.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_verify_sync_marker.py
  src/pytest_plugins/shared/execute_fill.py
  tests/osaka/eip7934_block_rlp_limit/test_max_block_rlp_size.py
Labels: type:feat, scope:consume

#2028 chore(ci): bump to gigachungus
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
Labels: scope:ci, type:chore

#2032 feat(fill): Improve mem usage by: fixture collector flush + lazy loading pre-alloc groups
  src/cli/show_pre_alloc_group_stats.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/pre_alloc_groups.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_prealloc_group.py
Labels: type:feat, scope:fill, P-urgent

#2023 feat(tests): Add more cases for EIP-7951
  tests/berlin/eip2929_gas_cost_increases/test_precompile_warming.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Labels: scope:tests, fork:osaka

#2008 chore(consume): remove `consume hive` command
  docs/CHANGELOG.md
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/help/tests/test_help.py
Labels: type:chore, scope:consume

#1987 fix(consume): fix `consume_direct.sh` by quoting the testid passed to `--filter`
  docs/CHANGELOG.md
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
Labels: type:bug, scope:consume, P-low

#2050 feat(forks|consume): bpo framework requirements
  .github/configs/eels_resolutions.json
  .github/configs/feature.yaml
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_specs/blockchain.py
  src/pytest_plugins/consume/simulators/helpers/ruleset.py
  src/pytest_plugins/eels_resolutions.json
  src/pytest_plugins/filler/static_filler.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_markers.py
Labels: scope:forks, type:feat, scope:consume, fork:osaka

#2062 chore(ci): fix fill prepatched coverage script fork compatibility
  .github/scripts/fill_prepatched_tests.sh
Labels: scope:ci, type:chore

#2077 chore(consume): fix consume cache for python 3.11
  src/pytest_plugins/consume/consume.py
Labels: type:chore, scope:consume

#2078 chore(docs): remove erroneous section for exception mapper usage
  docs/running_tests/consume/exceptions.md
Labels: type:chore, type:docs

#2079 feat(tests): add p256 precompile edge case test
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Labels: scope:tests, fork:osaka, feature:eof

#2068 feat(tests): Add contract creation tests for 7951
  docs/CHANGELOG.md
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Labels: scope:tests, type:feat, fork:osaka

#2074 fix(tests,forks): Implement Base-Fee-Per-Gas calculation methods in `Fork`, fix BPO4 tests
  .github/configs/feature.yaml
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  tests/osaka/eip7918_blob_reserve_price/test_blob_reserve_price_with_bpo_transitions.py
Labels: type:bug, scope:forks, type:feat

#2073 feat(execute): Support for contract address stubs
  docs/CHANGELOG.md
  docs/running_tests/execute/remote.md
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/tests/__init__.py
  src/pytest_plugins/execute/tests/test_pre_alloc.py
Labels: type:feat, scope:execute

#2066 feat(fill): add a plugin for optional execution witness generation
  docs/CHANGELOG.md
  src/cli/pytest_commands/pytest_ini_files/pytest-fill.ini
  src/ethereum_test_fixtures/blockchain.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/witness.py
  src/pytest_plugins/help/help.py
Labels: type:feat, scope:fill

#2057 feat(tests): add test for large args offset with size zero on CALL opcode
  tests/frontier/opcodes/test_call.py
Labels: scope:tests, type:feat
