Repository ethereum/execution-spec-tests, pull requests merged in 2025-09, with the labels that each got.

#2084 feat(types,plugins): Add `ChainConfig` to make chain configuration accessible to tests
  src/ethereum_test_specs/static_state/state_static.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/chain_config_types.py
  src/ethereum_test_types/transaction_types.py
  src/pytest_plugins/consume/tests/test_consume_args.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/execute/rpc/remote.py
  src/pytest_plugins/filler/tests/test_output_directory.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/shared/transaction_fixtures.py
  tests/berlin/eip2930_access_list/test_acl.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/frontier/opcodes/test_call_and_callcode_gas_calculation.py
  tests/istanbul/eip1344_chainid/test_chainid.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
Labels: scope:pytest, scope:tests, type:feat

#2054 src(eth_config): added eth_config simulator prototype
  src/ethereum_test_rpc/rpc.py
  src/pytest_plugins/execute/eth_config/eth_config.py
  src/pytest_plugins/execute/eth_config/execute_eth_config.py
Labels: P-high

#2096 fix(tests): Incorrect expected exception on `test_tx_intrinsic_gas.py`
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
Labels: type:bug, scope:tests

#2103 feat(eip_checklist): Print warnings + embed links to test functions
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  src/pytest_plugins/filler/eip_checklist.py
Labels: type:feat, scope:checklists

#2117 feat(tests): add implementation coverage tests for modexp eip7823 bounds
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
Labels: scope:tests, type:feat, fork:osaka

#2121 fix(tests): Block-Level Access List invalid tests
  .github/configs/eels_resolutions.json
  docs/CHANGELOG.md
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_access_list/__init__.py
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_invalid.py
Labels: type:bug, scope:tests, fork: amsterdam

#2123 fix(tests): Collect issue in test_p256verify_before_fork.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify_before_fork.py
Labels: type:bug, scope:tests

#2119 feat(tests): add implementation coverage tests for eip7883 modexp gas calculation
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
Labels: scope:tests, type:feat, fork:osaka

#2115 refactor(tests): add checklist marker for eip7823
  tests/osaka/eip7823_modexp_upper_bounds/conftest.py
  tests/osaka/eip7823_modexp_upper_bounds/eip_checklist_external_coverage.txt
  tests/osaka/eip7823_modexp_upper_bounds/eip_checklist_not_applicable.txt
  tests/osaka/eip7823_modexp_upper_bounds/spec.py
  tests/osaka/eip7823_modexp_upper_bounds/test_modexp_upper_bounds.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: type:test, fork:osaka

#2098 refactor(tests): add checklist marker for eip7883
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  tests/osaka/eip7883_modexp_gas_increase/conftest.py
  tests/osaka/eip7883_modexp_gas_increase/eip_checklist_external_coverage.txt
  tests/osaka/eip7883_modexp_gas_increase/eip_checklist_not_applicable.txt
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds_transition.py
Labels: scope:tests, type:refactor, fork:osaka

#2168 chore(consume): increase fcu retries to 30 (at 1 second each)
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_engine.py
Labels: type:chore, scope:consume

#2124 feat(tests): Add flexibility to expected absent scenarios for BALs
  docs/CHANGELOG.md
  src/ethereum_test_types/block_access_list/__init__.py
  src/ethereum_test_types/block_access_list/absence_validators.py
  src/ethereum_test_types/block_access_list/modifiers.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_rlp.py
Labels: scope:tests, type:feat, scope:fw, fork: amsterdam

#2146 chore(tooling): enforce ruff rule c420
  pyproject.toml
  tests/cancun/eip1153_tstore/test_tstorage.py
  tests/cancun/eip4788_beacon_root/spec.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
  tests/unscheduled/eip7692_eof_v1/eip3540_eof_v1/test_execution_function.py
Labels: type:chore, scope:tooling

#2170 fix: use `engine_newPayloadV5` for Glamsterdam
  docs/CHANGELOG.md
  src/ethereum_clis/clis/geth.py
  src/ethereum_test_exceptions/exceptions/block.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/block_access_list/__init__.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_invalid.py
Labels: type:bug, scope:tests, fork: amsterdam

#2166 chore: unused arguments
  docs/getting_started/code_standards.md
  pyproject.toml
  src/cli/gen_index.py
  src/cli/gentest/tests/test_cli.py
  src/cli/pytest_commands/check_eip_versions.py
  src/cli/pytest_commands/checklist.py
  src/cli/pytest_commands/consume.py
  src/cli/pytest_commands/fill.py
  src/cli/show_pre_alloc_group_stats.py
  src/cli/tests/test_pytest_execute_command.py
  src/ethereum_clis/tests/test_execution_specs.py
  src/ethereum_clis/tests/test_transition_tool.py
  src/ethereum_test_base_types/tests/test_reference_spec.py
  src/ethereum_test_checklists/tests/test_checklist_template_consistency.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_types/block_access_list/modifiers.py
  src/ethereum_test_types/tests/test_transactions.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_sync.py
  src/pytest_plugins/consume/simulators/sync/conftest.py
  src/pytest_plugins/consume/simulators/timing_data.py
  src/pytest_plugins/consume/tests/test_consume_args.py
  src/pytest_plugins/custom_logging/plugin_logging.py
  src/pytest_plugins/eels_resolver.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/execute_recover.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/static_filler.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/solc/solc.py
  src/pytest_plugins/spec_version_checker/spec_version_checker.py
Labels: type:chore, scope:tooling

#2193 chore(execute): add missing return statement for stub contract deployment
  src/pytest_plugins/execute/pre_alloc.py
Labels: type:chore, scope:execute

#2173 ✨ feat(fill): watch mode
  docs/CHANGELOG.md
  docs/filling_tests/filling_tests_command_line.md
  src/cli/pytest_commands/fill.py
  src/cli/pytest_commands/processors.py
  src/cli/pytest_commands/watcher.py
  whitelist.txt
Labels: type:feat, scope:fill

#2191 chore(cli): update reth gas limit exception mapper
  src/ethereum_clis/clis/reth.py
Labels: type:chore, scope:cli

#2203 feat(tests): add test cases for P256 input hash special values
  tests/osaka/eip7951_p256verify_precompiles/spec.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Labels: scope:tests, type:feat

#2211 chore(cli): nethermind max nonce exception mapper
  src/ethereum_clis/clis/nethermind.py
Labels: type:chore, scope:cli

#2210 chore(deps,tooling): update ruff rules, bump ruff version
  pyproject.toml
  uv.lock
Labels: type:chore, scope:tooling

#2159 ✨ feat(tests): EIP-7928 SELFDESTRUCT test
  .github/configs/eels_resolutions.json
  docs/CHANGELOG.md
  src/ethereum_test_types/block_access_list/account_absent_values.py
  src/ethereum_test_types/block_access_list/account_changes.py
  src/ethereum_test_types/block_access_list/expectations.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  src/pytest_plugins/eels_resolutions.json
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Labels: scope:tests, type:test

#2216 feat(tests): add test cases for P256 with zero h, r, s
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Labels: scope:tests, type:feat

#2217 feat(tests): add test case with invalid P256 with x1 above N
  tests/osaka/eip7951_p256verify_precompiles/spec.py
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Labels: scope:tests, type:feat, fork:osaka

#2218 feat(tests): add test case for point doubling in P256
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Labels: scope:tests, type:feat, fork:osaka, automated issue

#2231 chore(tooling): fix `launch.recommended.json` - vs code debugging
  .vscode/launch.recommended.json
Labels: type:chore, scope:tooling

#2239 Fix/warnings
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/static_state/account.py
  src/ethereum_test_specs/static_state/environment.py
  src/ethereum_test_specs/static_state/general_transaction.py
  src/ethereum_test_specs/static_state/state_static.py
  src/pytest_plugins/eels_resolver.py
  tests/homestead/identity_precompile/test_identity.py
Labels: type:chore
