Repository ethereum/execution-spec-tests, pull requests merged in 2025-10, with the labels that each got.

#2235 feat(tests): add test case for P256 with Q at infinity
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Labels: scope:tests, type:feat, fork:osaka

#2226 chore(cli): update exception mapping for ethrex
  src/ethereum_clis/clis/ethrex.py
Labels: type:chore, scope:cli

#2186 feat(tests): multi opcode bloatnet ext cases
  docs/CHANGELOG.md
  tests/benchmark/bloatnet/__init__.py
  tests/benchmark/bloatnet/test_multi_opcode.py
Labels: scope:tests, type:feat, feature:benchmark

#2238 feat(tests): add more tests for P256 where R is at infinity
  docs/CHANGELOG.md
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Labels: scope:tests, type:feat, fork:osaka

#2234 chore(forks): update bpo hardfork params to match testnet
  src/ethereum_test_forks/forks/forks.py
  src/pytest_plugins/execute/eth_config/networks.yml
Labels: scope:forks, type:chore, fork:osaka

#2169 feat: add bloatnet marker support
  docs/templates/base.md.j2
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
  src/pytest_plugins/shared/execute_fill.py
  tests/benchmark/bloatnet/__init__.py
  tests/benchmark/conftest.py
  tests/benchmark/stateful/__init__.py
  tests/benchmark/stateful/bloatnet/__init__.py
  tests/benchmark/stateful/bloatnet/test_bloatnet.py
  tests/benchmark/stateful/bloatnet/test_multi_opcode.py
  tests/benchmark/stateful/conftest.py
Labels: type:refactor, feature:benchmark

#2237 feat(tests): add tests for P256 with x,y out of range
  tests/osaka/eip7951_p256verify_precompiles/scripts/find_low_p256_points.sage
  tests/osaka/eip7951_p256verify_precompiles/test_p256verify.py
Labels: scope:tests, type:feat

#2252 chore(consume): mark sync tests flaky
  docs/CHANGELOG.md
  pyproject.toml
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_sync.py
  src/pytest_plugins/consume/simulators/sync/conftest.py
  uv.lock
Labels: type:chore, scope:consume

#2118 ✨ feat(tests): EIP-7928 Single-Opcode Success and OOG test cases
  docs/CHANGELOG.md
  src/ethereum_test_types/block_access_list/expectations.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
Labels: scope:tests, type:test

#2167 ✨ feat(tests): EIP-7928 test cases for EIP-2930 transactions
  docs/CHANGELOG.md
  src/ethereum_test_types/block_access_list/expectations.py
  src/ethereum_test_types/tests/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists.py
  tests/amsterdam/eip7928_block_level_access_lists/test_block_access_lists_opcodes.py
  tests/amsterdam/eip7928_block_level_access_lists/test_cases.md
Labels: scope:tests, type:test

#2220 chores(fill, pytest): mark slow tests that were not marked as such yet
  tests/berlin/eip2929_gas_cost_increases/test_precompile_warming.py
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/frontier/opcodes/test_calldatasize.py
  tests/frontier/opcodes/test_push.py
  tests/frontier/scenarios/test_scenarios.py
  tests/istanbul/eip152_blake2/test_blake2.py
  tests/osaka/eip7883_modexp_gas_increase/test_modexp_thresholds.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/shanghai/eip3860_initcode/test_initcode.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Labels: P-low

#2150 feat(pre_alloc): Add maximum bytecode size limit for contract deployment
  src/pytest_plugins/filler/pre_alloc.py
  src/pytest_plugins/filler/tests/test_pre_alloc.py
  tests/benchmark/test_worst_compute.py
Labels: type:refactor, feature:benchmark

#2227 feat(benchmark): add eip7702 case
  tests/benchmark/test_worst_blocks.py
Labels: type:test, feature:benchmark

#2272 chore(consume): fix consume sync logger errors
  src/pytest_plugins/consume/simulators/simulator_logic/test_via_sync.py
Labels: type:chore, scope:consume

#689 feat(tests): test call for eip2929
  tests/berlin/eip2929_gas_cost_increases/test_call.py
Labels: scope:tests, type:feat

#2270 chore(ci|fill): bump eels for bpo1/2 param changes
  .github/configs/eels_resolutions.json
  src/pytest_plugins/eels_resolutions.json
Labels: scope:ci, type:chore, scope:fill
