Repository ethereum/execution-spec-tests, pull requests merged in 2025-02, with the labels that each got.

#1168 chore(deps): update ruff to version '0.9.4'.
  docs/CHANGELOG.md
  docs/gen_test_case_reference.py
  pyproject.toml
  src/cli/gentest/request_manager.py
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_test_exceptions/exception_mapper.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_types/tests/test_helpers.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/filler/tests/test_filler.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/shared/execute_fill.py
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
  tests/cancun/eip1153_tstore/__init__.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip7623_increase_calldata_cost/helpers.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  uv.lock
Labels: type:chore, scope:deps

#1170 refactor(tests): re-write test parametrization to avoid skipping invalid parameter sets
  tests/shanghai/eip3860_initcode/test_initcode.py
Labels: scope:tests, type:refactor

#1178 chore(tooling): update `uv.lock` for compatibility with `uv>=0.5.22`
  docs/CHANGELOG.md
  docs/getting_started/installation.md
  uv.lock
Labels: type:chore, scope:tooling

#1054 chore,docs(tooling): remove unsupported vscode config file
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/settings.local.recommended.json
  docs/getting_started/img/vscode_extension_disable_for_workspace.png
  docs/getting_started/setup_vs_code.md
  docs/writing_tests/code_standards.md
  whitelist.txt
Labels: scope:docs, type:chore, scope:tooling

#1181 chore(tooling): update `execution-specs` version to `99238233`
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  eels_resolutions.json
  pyproject.toml
  src/ethereum_test_types/types.py
  uv.lock
Labels: scope:tests, type:chore, scope:fw, scope:deps

#1162 new(tests): add tests for DATALOADN validation and execution
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1188 fix(plugins/filler): Fix filler stdout output
  docs/CHANGELOG.md
  src/pytest_plugins/eels_resolver.py
  src/pytest_plugins/filler/filler.py
  whitelist.txt
Labels: type:bug, scope:pytest

#1044 feat(consume): Add `consume cache`, and `--input` flag accepts versioned release names
  docs/CHANGELOG.md
  docs/consuming_tests/index.md
  pytest-framework.ini
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/consume/releases.py
  src/pytest_plugins/consume/test_cache.py
  src/pytest_plugins/consume/tests/__init__.py
  src/pytest_plugins/consume/tests/release_information.json
  src/pytest_plugins/consume/tests/test_releases.py
  src/pytest_plugins/pytest_hive/hive_info.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
  uv.lock
  whitelist.txt
Labels: type:feat, scope:consume, scope:fw, scope:tooling

#1187 feat(tests): improve tests for EOF prefix
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Labels: scope:tests

#1192 fix(tox): Change `package` to editable in tox.ini
  tox.ini
Labels: type:bug, scope:ci

#1184 new(tests): add EOF tests for type section missing
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Labels: scope:tests

#1194 new(tests): a test for empty EOF type section
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Labels: scope:tests

#1195 new(tests): add a test for multiple EOF type sections
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Labels: scope:tests

#1193 new(tests): add a test case for EOF code header missing
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
Labels: scope:tests

#1202 feat(docs): added fast build mechanic with usage examples
  docs/gen_test_case_reference.py
  tox.ini
Labels: scope:docs, type:feat

#1212 chore(ci): update evm configs
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  tests/cancun/eip4844_blobs/spec.py
Labels: scope:ci, type:chore

#1215 feat(unit tests): support transaction types in fill unit tests
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_blockchain_test_engine_tx_type_0.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_blockchain_test_tx_type_0.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_state_test_tx_type_0.json
  src/ethereum_test_specs/tests/fixtures/chainid_cancun_state_test_tx_type_1.json
  src/ethereum_test_specs/tests/fixtures/chainid_istanbul_blockchain_test_tx_type_0.json
  src/ethereum_test_specs/tests/fixtures/chainid_london_blockchain_test_tx_type_0.json
  src/ethereum_test_specs/tests/fixtures/chainid_paris_blockchain_test_engine_tx_type_0.json
  src/ethereum_test_specs/tests/fixtures/chainid_paris_state_test_tx_type_0.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_blockchain_test_engine_tx_type_0.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_state_test_tx_type_0.json
  src/ethereum_test_specs/tests/test_fixtures.py
Labels: scope:fill

#1216 chore(cli): temp eofwrap pydantic fix
  src/cli/eofwrap.py
Labels: type:bug, type:chore

#1210 refactor(fixtures,consume): Make `BaseFixture` able to parse any format
  src/cli/check_fixtures.py
  src/cli/eofwrap.py
  src/cli/gen_index.py
  src/ethereum_test_execution/__init__.py
  src/ethereum_test_execution/base.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/eof.py
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/tests/test_base.py
  src/ethereum_test_fixtures/tests/test_eof.py
  src/ethereum_test_fixtures/transaction.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_tools/__init__.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/shared/execute_fill.py
Labels: scope:pytest, type:refactor, scope:fw

#1209 chore(tooling,deps): update mypy to latest release
  docs/CHANGELOG.md
  pyproject.toml
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_forks/helpers.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_returndataload.py
  uv.lock
Labels: type:chore, scope:tooling, scope:deps

#1165 📄 docs: A guide to porting tests
  docs/dev/index.md
  docs/dev/porting_legacy_tests.md
  docs/img/annotated-coverage.jpg
  docs/img/original-coverage-loss.png
  docs/navigation.md
Labels: port

#1225 fix(tests): correct test_rjumpi_at_the_end description
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
Labels: scope:tests

#1222 chore(docs): add missing items from changelog
  docs/CHANGELOG.md
  docs/changelog_section_template.md
  whitelist.txt
Labels: scope:docs, type:chore

#1220 feat(plugins,fixtures,specs): Labeled fixture and execute formats
  docs/CHANGELOG.md
  src/ethereum_test_execution/__init__.py
  src/ethereum_test_execution/base.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/eof.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/transaction.py
  src/ethereum_test_specs/__init__.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_tools/__init__.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/tests/test_filler.py
  src/pytest_plugins/forks/tests/test_covariant_markers.py
  src/pytest_plugins/forks/tests/test_forks.py
  src/pytest_plugins/forks/tests/test_markers.py
  src/pytest_plugins/shared/execute_fill.py
  src/pytest_plugins/shared/helpers.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
Labels: scope:pytest, type:feat, scope:fw

#1226 new(tests): add more EOFCREATE validation tests
  converted-ethereum-tests.txt
  src/ethereum_clis/clis/evmone.py
  src/ethereum_test_exceptions/exceptions.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1027 Export int as hex for t8n env
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
Labels: type:refactor, scope:fill

#935 refactor(ethereum_clis): move `TransitionTool.verify_fixture()` to `FixtureConsumer`
  docs/CHANGELOG.md
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/ethereum_cli.py
  src/ethereum_clis/fixture_consumer_tool.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/verify.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  whitelist.txt
Labels: type:refactor, scope:consume

#783 feat(specs): EOF: `eof_test` generates state tests, and `execute` in live devnets
  docs/CHANGELOG.md
  src/ethereum_test_specs/eof.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_size.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_migrated_valid_invalid.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Labels: type:feat, scope:fill

#1228 new(tests): add more RJUMP validation tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1233 fix(execution,fixtures): Labeled formats comparison
  docs/CHANGELOG.md
  src/ethereum_test_execution/base.py
  src/ethereum_test_fixtures/base.py
Labels: type:bug, scope:fw

#1231 bug: fix EELS t8n for CPython versions on macOS
  docs/CHANGELOG.md
  src/ethereum_clis/clis/execution_specs.py
  whitelist.txt
Labels: type:bug

#1237 feat(consume): allow `consume direct --collect-only` without `--bin`
  docs/CHANGELOG.md
  src/pytest_plugins/consume/direct/conftest.py
Labels: type:feat, scope:consume

#1235 new(tests): add more RJUMPI validation tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1240 feat(tooling): run `tox -e typecheck` in pre-commit
  .pre-commit-config.yaml
Labels: type:feat, scope:tooling

#1221 feat,test(consume): use regex for `--sim.limit`; don't use xdist if `--sim.parallelism=1`
  docs/CHANGELOG.md
  pyproject.toml
  src/cli/gentest/tests/test_cli.py
  src/cli/pytest_commands/consume.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/tests/test_consume_args.py
  src/pytest_plugins/filler/tests/test_filler.py
  uv.lock
  whitelist.txt
Labels: scope:pytest, type:test, type:feat, scope:consume

#1238 fix(execute,fill): Fix warnings due to labels being unknown markers
  docs/CHANGELOG.md
  src/ethereum_test_execution/base.py
  src/ethereum_test_fixtures/base.py
  src/pytest_plugins/shared/execute_fill.py
Labels: type:bug, scope:pytest

#1245 fix(fill,execute): register new label type markers to prevent warnings
  docs/CHANGELOG.md
  src/ethereum_test_execution/base.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/shared/execute_fill.py
Labels: type:bug, scope:fw, scope:fill, scope:execute

#1258 fix(eofwrap): fixture_format and auxiliary logging
  src/cli/eofwrap.py
Labels: type:chore

#1254 fix(fill): don't report an error with `--collect-only` if the fixtures folder doesn't exist
  docs/CHANGELOG.md
  src/pytest_plugins/filler/filler.py
Labels: type:bug, scope:fill

#1264 new(tests): EOF - mix RETF with INVALID, RETF underflow
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
Labels: scope:tests

#1267 new(tests): extend RJUMP over unreachable code
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1269 new(tests): EOF validation JUMPF stack overflow
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1266 new(tests): Add tests for ambiguous subcontainer kind
  src/ethereum_clis/clis/evmone.py
  src/ethereum_test_exceptions/exceptions.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Labels: scope:tests

#1268 fix(types): ensure `Environment` fields have even byte length
  docs/CHANGELOG.md
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
Labels: type:bug, scope:fill, scope:types

#1262 chore(ci): enable all precompiles in `evmone` build
  .github/actions/build-evm-client/evmone/action.yaml
Labels: scope:ci, type:chore

#1241 feat(make): allow creation of a new test module within an existing tests subfolder
  docs/CHANGELOG.md
  docs/writing_tests/img/eest_make_test.mp4
  src/cli/eest/make/commands/test.py
  src/cli/eest/make/templates/blockchain_test.py.j2
  src/cli/eest/make/templates/state_test.py.j2
Labels: scope:docs, scope:fill, scope: eest make

#1242 new(tests): add more RJUMPV validation tests
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1270 new(tests): EOF - ensure EOFCREATE bumps nonce as EIP-161
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
Labels: scope:tests

#1271 new(tests): EOF - ensure EOFCREATE memory and transfer
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/test_eof_creation_tx.py
Labels: scope:tests
