Repository ethereum/execution-spec-tests, pull requests merged in 2025-05, with the labels that each got.

#1518 fix(tests): Fix precompile warmup tests on python 3.10
  tests/berlin/eip2929_gas_cost_increases/test_precompile_warming.py
Labels: type:bug

#1519 chore: update besu exception mapper deposits
  src/ethereum_clis/clis/besu.py
Labels: type:chore, fork:prague

#1482 feat(types): implement `empty_account` function
  docs/CHANGELOG.md
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/filler/pre_alloc.py
Labels: scope:fill, scope:execute, scope:types, feature:eof

#1470 feat(tests): Add flag to configure `max_gas` for fill command
  docs/CHANGELOG.md
  docs/filling_tests/filling_tests_command_line.md
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
  tests/cancun/eip1153_tstore/test_tstorage.py
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/constantinople/eip1014_create2/test_recreate.py
  tests/frontier/opcodes/test_all_opcodes.py
  tests/frontier/opcodes/test_selfdestruct.py
  tests/istanbul/eip152_blake2/test_blake2.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
  tests/prague/eip6110_deposits/test_deposits.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
Labels: scope:fill

#1534 chore(tests): add conftests to zkevm & bls subdirs to apply zkevm marker
  docs/CHANGELOG.md
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/zkevm/conftest.py
  tests/zkevm/test_worst_bytecode.py
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, type:chore, feature:zkevm

#1476 new(tests): TXCREATE executes validation
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/helpers.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate_validates.py
Labels: scope:tests, type:feat, feature:eof

#1236 feat(tests): converting `calldataload` and `calldatasize` tests
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  tests/frontier/opcodes/test_calldataload.py
  tests/frontier/opcodes/test_calldatasize.py
  tests/homestead/coverage/test_coverage.py
  tests/static/state_tests/VMTests/vmTests/calldataloadFiller.yml
  tests/static/state_tests/VMTests/vmTests/calldatasizeFiller.yml
Labels: scope:tests, type:feat, port

#1390 fix(tests): EIP-7702: use penultimate block number instead of fixing block 0
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: type:chore, fork:prague, scope:execute

#1535 feat(tests): port intrinsic transaction gas tests from Ori
  converted-ethereum-tests.txt
  tests/berlin/eip2930_access_list/spec.py
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
  tests/static/state_tests/stEIP1559/intrinsicCancunFiller.yml
  tests/static/state_tests/stEIP1559/intrinsicGenCancun.js
Labels: scope:tests, fork:prague

#1596 feat(ci): add feature skips to main release process
  .github/configs/feature.yaml
  .github/workflows/fixtures.yaml
  docs/CHANGELOG.md
Labels: scope:ci, type:feat

#1592 chore(ci): change link check flow schedule from daily to weekly
  .github/workflows/check_links.yml
Labels: scope:ci, type:chore

#1597 chore(tooling): bump `uv.lock` revision
  docs/dev/deps_and_packaging.md
  uv.lock
Labels: type:chore, scope:tooling

#1556 fix(solc): don't install `solc` via `solc-select` on ARM; add version sanity check
  docs/CHANGELOG.md
  src/pytest_plugins/solc/solc.py
Labels: type:bug, scope:fill

#1549 fix(clis/reth,evmone): Exception mapper fixes
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/reth.py
Labels: type:chore, scope:cli

#1599 chore(coverage,ci): remove `GeneralStateTests` from ethereum/tests coverage
  .github/workflows/coverage.yaml
Labels: scope:ci, type:chore

#1471 refactor(fill): encapsulate fixture output options in `FixtureOutput` class
  docs/CHANGELOG.md
  src/pytest_plugins/filler/__init__.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/tests/test_filler.py
Labels: type:refactor, scope:fill

#1598 feat(fill,zkevm): suppress high tx gas limit warnings for zkevm tests
  docs/CHANGELOG.md
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
Labels: type:feat, scope:fill, feature:zkevm

#1327 docs: Add EIP checklist templates
  .github/PULL_REQUEST_TEMPLATE.md
  docs/CHANGELOG.md
  docs/navigation.md
  docs/writing_tests/checklist_templates/eip_testing_checklist_template.md
  docs/writing_tests/checklist_templates/index.md
  docs/writing_tests/post_mortems.md
  whitelist.txt
Labels: scope:docs, fork:prague

#1575 zkvm: allow using entire gas in bytecode attack
  .github/configs/feature.yaml
  tests/zkevm/test_worst_bytecode.py
Labels: scope:tests, feature:zkevm

#1606 Scenarios double call
  converted-ethereum-tests.txt
  tests/frontier/scenarios/common.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/frontier/scenarios/scenarios/double_call_combinations.py
  tests/frontier/scenarios/scenarios/revert_combinations.py
  tests/frontier/scenarios/test_scenarios.py
  tests/static/state_tests/stSelfBalance/diffPlacesFiller.yml
Labels: scope:tests, port

#1608 fix(fill): insist `fill`'s output directory is empty or doesn't exist
  docs/CHANGELOG.md
  src/cli/gentest/tests/test_cli.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/fixture_output.py
  src/pytest_plugins/filler/tests/test_output_directory.py
  tox.ini
Labels: type:feat, scope:fill

#1524 zkevm: add ECRECOVER, SHA2-256, IDENTITY and RIPEMD precompiles
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, feature:zkevm

#1617 feat(ci,tox): Create `tests-deployed-zkevm` tox env, and ci workflow
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  tox.ini
  whitelist.txt
Labels: type:bug, scope:ci

#1591 feat(tests): add benchmarks with mass binop opcodes
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, feature:zkevm

#1621 ✨ feat(cli): `eest` info
  docs/CHANGELOG.md
  src/cli/eest/cli.py
  src/cli/eest/commands/__init__.py
  src/cli/eest/commands/info.py
  src/config/app.py
Labels: type:feat, scope:cli

#1620 feat(tests): add benchmarks with mass unop opcodes
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, type:feat, feature:zkevm

#1624 chore(tooling): add `.vscode/launch.json` to `.gitignore`
  .gitignore
Labels: type:chore, scope:tooling

#1629 fix(github/coverage,tox): Use skip-evm-dump for fill, add block-gas-limit to zkevm tox
  .github/workflows/coverage.yaml
  tox.ini
Labels: type:bug, scope:ci

#1604 docs: add `CONTRIBUTING.md` and improve coding standards
  CONTRIBUTING.md
  README.md
  docs/CHANGELOG.md
  docs/dev/coding_style.md
  docs/dev/deps_and_packaging.md
  docs/getting_started/code_standards.md
  docs/getting_started/code_standards_details.md
  docs/getting_started/installation.md
  docs/navigation.md
  docs/scripts/copy_repo_docs_to_mkdocs.py
  docs/scripts/gen_test_case_reference.py
  docs/writing_tests/code_standards.md
  docs/writing_tests/verifying_changes.md
  mkdocs.yml
  tox.ini
  whitelist.txt
Labels: scope:docs, type:feat

#1433 chore(deps,pytest): update pytest to v8
  docs/CHANGELOG.md
  pyproject.toml
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/filler/static_filler.py
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
  uv.lock
Labels: scope:pytest, type:chore, scope:deps

#1615 feat(port): convert Create first byte loop filler
  converted-ethereum-tests.txt
  tests/frontier/create/__init__.py
  tests/frontier/create/test_create_one_byte.py
  tests/static/state_tests/stCreateTest/CREATE_FirstByte_loopFiller.yml
Labels: scope:tests, port

#1590 feat(fill,tests): add `ported_from` pytest marker
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  pytest.ini
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/frontier/opcodes/test_all_opcodes.py
  tests/frontier/opcodes/test_calldatacopy.py
  tests/frontier/opcodes/test_calldataload.py
  tests/frontier/opcodes/test_calldatasize.py
  tests/frontier/opcodes/test_push.py
  tests/frontier/precompiles/test_precompiles.py
  tests/istanbul/eip152_blake2/test_blake2.py
Labels: scope:tests, scope:ci, type:feat, scope:fill, port

#1581 zkevm: add remaining precompiles
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, feature:zkevm

#1151 feat(tests): add worst-case benchmark for `MOD`
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, type:feat, feature:zkevm

#1636 feat(tests): EIP-4844: add example input to the point evaluation
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
Labels: scope:tests, type:feat

#1635 refactor(tests): EIP-152: reuse `BLAKE2_PRECOMPILE_ADDRESS`
  tests/istanbul/eip152_blake2/test_blake2_delegatecall.py
Labels: scope:tests, type:refactor

#1639 chore(tooling): add `.venv/`, `logs/`, `fixtures-*` to `.gitignore`
  .gitignore
Labels: type:chore, scope:tooling

#1641 fix(pytest): Add `ported_from` to execute
  pytest-execute-hive.ini
  pytest-execute.ini
Labels: type:chore, scope:execute

#1643 refactor(tests): use the `pre` fixture in `SELFDESTRUCT` collision tests
  docs/CHANGELOG.md
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
Labels: scope:tests, type:refactor

#1634 feat(coverage): coverage script parsing files from ported_from markers
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/coverage.yaml
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  pytest.ini
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/ported_tests.py
  src/pytest_plugins/help/help.py
  tests/berlin/eip2930_access_list/test_tx_intrinsic_gas.py
  tests/frontier/create/test_create_one_byte.py
  tests/frontier/scenarios/test_scenarios.py
Labels: port

#1655 feat(github): Add zkevm 60M, 90M, 120M
  .github/configs/feature.yaml
  docs/CHANGELOG.md
  whitelist.txt
Labels: scope:ci

#1656 zkevm: amortized bn128_pairings
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, type:feat, feature:zkevm

#1660 refactor(tests/zkevm): downgrade to state tests
  tests/zkevm/test_worst_compute.py
  tests/zkevm/test_worst_stateful_opcodes.py
Labels: scope:tests, type:refactor, feature:zkevm

#1666 zkevm: add BLOBHASH test
  tests/zkevm/test_worst_compute.py
Labels: scope:tests, type:feat, feature:zkevm

#1672 fix(cli): Add `pytest_plugins.pytest_hive.pytest_hive` to Hive processor
  src/cli/pytest_commands/processors.py
Labels: type:bug, scope:consume

#1677 fix(tests,eof): Specify Env(gas_limit)
  .github/actions/build-fixtures/action.yaml
  tests/unscheduled/eip7692_eof_v1/eip7069_extcall/test_calldata.py
  tests/unscheduled/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/unscheduled/eip7692_eof_v1/eip7620_eof_create/test_memory.py
  tests/unscheduled/eip7692_eof_v1/eip7620_eof_create/test_returncode.py
  tests/unscheduled/eip7692_eof_v1/eip7873_tx_create/test_txcreate.py
Labels: scope:tests, type:chore

#1681 fix(execute): default to False if the option doesn't exist
  src/pytest_plugins/shared/helpers.py
Labels: type:bug, scope:execute

#1674 refactor(tests): remove `secret_key` from `test_access_list`'s transaction
  docs/writing_tests/index.md
  tests/berlin/eip2930_access_list/test_acl.py
Labels: scope:tests, type:refactor
