Repository ethereum/execution-spec-tests, pull requests merged in 2025-04, with the labels that each got.

#1367 feat(execute): Use test spec names as markers for `execute`
  docs/CHANGELOG.md
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
Labels: type:feat, scope:execute

#1309 new(tests): EOF - EXTDELEGATECALL blocking vs 7702
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1374 fix(docs): fix bad links in readme and elsewhere
  .github/PULL_REQUEST_TEMPLATE.md
  .vscode/settings.json
  README.md
  docs/CHANGELOG.md
  docs/consuming_tests/index.md
  docs/dev/docs.md
  docs/writing_tests/tutorials/blockchain.md
  docs/writing_tests/tutorials/state_transition_bad_opcode.md
  mkdocs.yml
  pyproject.toml
  src/cli/input/questionary_input_repository.py
  src/config/docs.py
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/frontier/opcodes/test_calldatacopy.py
  tests/frontier/opcodes/test_dup.py
Labels: type:bug, scope:docs

#1377 new(tests): Aggregate EOF tests for invalid first section type
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
Labels: scope:tests

#1359 refactor(base_types,types,tests): Create RLP Serialization Classes
  docs/CHANGELOG.md
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_base_types/serialization.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/common.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/tests/test_transactions.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
Labels: type:refactor, scope:fw

#1347 new(tests): EIP-7702 more RLP tests
  docs/CHANGELOG.md
  src/ethereum_test_types/types.py
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
Labels: scope:tests

#1381 🧹 chore(tests): remove duplicate fixture in EIP-7623
  tests/prague/eip7623_increase_calldata_cost/test_execution_gas.py
Labels: scope:tests, type:chore

#1378 new(tests): Add exhaustive EOF stack underflow tests
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1361 feat(consume): enable logging, propagate logs to hive results
  docs/CHANGELOG.md
  docs/dev/index.md
  docs/dev/logging.md
  docs/navigation.md
  pytest-consume.ini
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/consume/tests/test_consume_args.py
  src/pytest_plugins/logging/__init__.py
  src/pytest_plugins/logging/logging.py
  src/pytest_plugins/logging/tests/__init__.py
  src/pytest_plugins/logging/tests/test_logging.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
  whitelist.txt
Labels: type:feat, scope:consume

#1387 chore(deps): add version specifier for `types-requests`
  pyproject.toml
  uv.lock
Labels: type:chore, scope:deps

#1388 docs(deps): document how to manage eest dependencies
  docs/CHANGELOG.md
  docs/dev/deps_and_packaging.md
  docs/dev/index.md
  whitelist.txt
Labels: scope:docs, scope:deps

#1384 refactor(tests): Merge EOF stack underflow tests
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1341 new(tests): EOF validation RETF stack overflow
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1379 feat(tests): Additional EIP-2935 coverage
  docs/CHANGELOG.md
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Labels: type:test

#1399 chore(types): Refactor and remove misleading comment in `Requests`
  src/ethereum_test_types/types.py
Labels: type:chore, scope:fw

#1401 chore(docs): added a link to the badge release
  README.md
Labels: type:chore

#1380 fix(tests): Prevent EOF max stack height above number of inputs
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/tests/test_eof_v1.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
Labels: scope:tests

#1392 fix(tests): de-duplicate EOF stack underflow tests
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
Labels: scope:tests

#1331 new(tests): Add EOF validation tests for stack underflow
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests

#1407 feat(fill,execute): add new `zkevm` marker
  src/pytest_plugins/shared/execute_fill.py
Labels: scope:pytest, type:feat

#1274 fix(tests): EOF - Align EOFCREATE args with EXT*CALL
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_gas.py
Labels: scope:tests

#1398 🐞 fix(types): Add missing yParity in Authorization tuple
  src/ethereum_test_fixtures/common.py
  src/ethereum_test_types/types.py
Labels: type:bug, scope:types

#1414 chore(specs): avoid using an `itertools` object in the `BaseTest` pydantic model
  docs/CHANGELOG.md
  src/ethereum_test_specs/base.py
Labels: type:chore, scope:fill

#1263 feat(unit-tests): verify transition tool support
  .github/actions/build-evm-client/evmone/action.yaml
  .github/configs/eels_resolutions.json
  .github/workflows/tox_verify.yaml
  src/conftest.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/ethereum_cli.py
  src/ethereum_clis/tests/test_transition_tools_support.py
  src/ethereum_clis/transition_tool.py
  tox.ini
Labels: type:bug, scope:ci, scope:tooling, scope:fill

#1375 chore(ci,docs): add a github action to check links in .md, .py
  .github/workflows/check-links.yml
  .lycheeignore
Labels: scope:docs, scope:ci, type:chore

#1419 fix(ci): fix bad indentation in link checker yml; update title
  .github/workflows/check-links.yml
Labels: type:bug, scope:ci

#1421 fix(docs): fix bad links in readme
  README.md
  src/pytest_plugins/consume/tests/release_information.json
Labels: type:bug, scope:docs

#1410 chore(docs): add python, ruff, uv and license badges to readme
  README.md
Labels: scope:docs, type:chore

#1431 feat(tests): update 7702 precompile test cases
  docs/CHANGELOG.md
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Labels: scope:tests, type:feat

#1426 chore(pyright): Add include/exclude
  pyrightconfig.json
Labels: type:chore

#1427 fix(tests): assign ids to parametrized EOF code sections
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Labels: scope:tests

#1432 refactor(fill): use a session-scoped fixture for git tag or hash
  src/pytest_plugins/filler/filler.py
Labels: type:refactor, scope:fill

#1370 refactor(tools): optimize git tag lookup and URL generation
  src/ethereum_test_tools/utility/versioning.py
Labels: scope:tools, type:refactor

#1403 fix(tests): EOF - Change container section size to 4 bytes
  src/ethereum_test_tools/eof/v1/constants.py
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/eof/v1/constants.py
  src/ethereum_test_types/tests/test_eof_v1.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Labels: scope:tests

#1413 new(tests): EIP-7873 TXCREATE execution tests - 1st batch
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/types.py
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/opcodes.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_opcodes_in_legacy.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/__init__.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/spec.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate_failures.py
  whitelist.txt
Labels: scope:tests

#1436 feat(specs,tests): `exception_test` marker
  docs/CHANGELOG.md
  src/cli/eofwrap.py
  src/ethereum_clis/tests/test_transition_tools_support.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_expect.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_specs/tests/test_transaction.py
  src/ethereum_test_specs/transaction.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/shared/execute_fill.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/prague/eip6110_deposits/test_deposits.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7251_consolidations/test_consolidations.py
  tests/prague/eip7623_increase_calldata_cost/test_transaction_validity.py
  tests/prague/eip7685_general_purpose_el_requests/test_multi_type_requests.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_invalid_tx.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/shanghai/eip3860_initcode/test_initcode.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Labels: scope:tests, type:feat, scope:fw

#1422 feat(tests): eip7623 - parametrize `test_transaction_validity_type_*` with a tx to an eoa
  docs/CHANGELOG.md
  tests/prague/eip7623_increase_calldata_cost/conftest.py
  tests/prague/eip7623_increase_calldata_cost/test_transaction_validity.py
Labels: scope:tests, type:feat, fork:prague

#1393 feat(fw,tests): change EOF to stack_height_increase
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/tests/test_eof_v1.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
Labels: scope:tests, type:feat, scope:fw, fork:osaka

#1446 feat(fw): add max_stack_increase to EOF Section.Code
  src/ethereum_test_types/eof/v1/__init__.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Labels: type:feat, scope:fw, fork:osaka

#1448 refactor(tests): change RJUMP validation tests to max_stack_increase
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
Labels: scope:tests, type:refactor, fork:osaka

#1449 chore(tests): remove pytest skips from eip7251/7685 cases
  tests/prague/eip7251_consolidations/test_consolidations.py
  tests/prague/eip7685_general_purpose_el_requests/test_multi_type_requests.py
Labels: scope:tests, type:chore, fork:prague

#1447 refactor(tests): Rename stack height constants
  src/ethereum_test_tools/eof/__init__.py
  src/ethereum_test_tools/eof/constants.py
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/eof/v1/constants.py
  src/ethereum_test_types/eof/constants.py
  src/ethereum_test_types/eof/v1/constants.py
  tests/cancun/eip1153_tstore/test_tstorage_clear_after_tx.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_size.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_execution.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_execution_function.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_extcode.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_migrated_valid_invalid.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_opcodes_in_legacy.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_section_header_body_mismatch.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_section_order.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_validation.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_nonreturning_validation.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calldata.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_gas.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_returndatacopy_memory_expansion.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_returndataload.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_datacopy_memory_expansion.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/helpers.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_gas.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_legacy_eof_creates.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_memory.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_returncode.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/helpers.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/test_eof_creation_tx.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate_failures.py
  tests/osaka/eip7692_eof_v1/gas_test.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
Labels: scope:tests, type:refactor, fork:osaka

#1441 feat(tests): add increased nonce with invalid nonce tests
  docs/CHANGELOG.md
  eels_resolutions.json
  src/ethereum_test_tools/code/generators.py
  tests/prague/eip7702_set_code_tx/test_gas.py
Labels: scope:tests, type:feat, fork:prague

#1455 refactor(tests): change CALLF tests to max_stack_increase
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
Labels: scope:tests, type:refactor, fork:osaka

#1443 new(tests): add EOF execution at maximum stack height
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_execution.py
Labels: scope:tests, type:feat, fork:osaka

#1459 chore(docs): update readme contribution section
  README.md
Labels: scope:docs, type:chore

#1460 chore(tooling): configure `markdownlint` ul indent to 4
  .markdownlint.yaml
  docs/CHANGELOG.md
Labels: type:chore, scope:tooling

#1415 feat(tests): add consolidations & withdrawal requests with `call_depth>2`
  tests/prague/eip6110_deposits/test_deposits.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7251_consolidations/test_consolidations.py
Labels: scope:tests, type:feat, fork:prague

#1371 feat(tests): EIP-6110 `DepositEvent` layout+topic tests
  src/ethereum_test_exceptions/exceptions.py
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip6110_deposits/spec.py
  tests/prague/eip6110_deposits/test_modified_contract.py
Labels: scope:tests, type:feat, fork:prague

#1457 new(tests): EOF validation stack_range maximally broad
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:tests, type:feat, fork:osaka

#1394 refactor(tests): EIP-7002, EIP-7251: Test block invalidation if system contract is missing
  docs/CHANGELOG.md
  eels_resolutions.json
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/utility/generators.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_contract_deployment.py
  tests/prague/eip7002_el_triggerable_withdrawals/spec.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_contract_deployment.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_modified_withdrawal_contract.py
  tests/prague/eip7251_consolidations/spec.py
  tests/prague/eip7251_consolidations/test_contract_deployment.py
  tests/prague/eip7251_consolidations/test_modified_consolidation_contract.py
  whitelist.txt
Labels: scope:tests, type:feat, fork:prague

#1416 feat(consume): add `ExceptionMapper` support to the consume-engine simulator
  docs/CHANGELOG.md
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/erigon.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nethermind.py
  src/ethereum_clis/clis/reth.py
  src/ethereum_test_exceptions/exception_mapper.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/state.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/conftest.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/exceptions.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/prague/eip7685_general_purpose_el_requests/test_multi_type_requests.py
  whitelist.txt
Labels: type:feat, scope:consume, fork:prague

#1479 fix(github): Remove `vars` usage in build-fixtures
  .github/actions/build-fixtures/action.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
Labels: type:bug, scope:ci

#1481 fix(specs/eof): Exception mapping fix
  src/ethereum_test_specs/eof.py
Labels: type:bug, scope:fw, fork:osaka

#1438 chore(forks): osaka tweak and fix blob schedule logic
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_specs/static_state/expect_section.py
  tests/osaka/eip7692_eof_v1/__init__.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Labels: scope:forks, type:chore, fork:osaka

#1475 fix(tests): EIP-7620 - make CREATE/CREATE2 restrictions specific
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/helpers.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_legacy_eof_creates.py
Labels: scope:tests, fork:osaka

#1487 fix(clis): update besu's exception mapper (`SYSTEM_CONTRACT_EMPTY`, `INVALID_DEPOSIT_EVENT_LAYOUT`)
  src/ethereum_clis/clis/besu.py
Labels: type:chore, scope:cli

#1350 feat(tests): extra BLS12-381 coverage
  docs/CHANGELOG.md
  pyproject.toml
  stubs/joblib/__init__.pyi
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/helpers.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp2_to_g2.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp_to_g1.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/msm_G1_bls.json
  uv.lock
  whitelist.txt
Labels: scope:tests, type:feat, fork:prague

#1439 feat(static tests) : do not compile test fillers source code while loading the models
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_specs/static_state/account.py
  src/ethereum_test_specs/static_state/common/common.py
  src/ethereum_test_specs/static_state/common/docker.py
  src/ethereum_test_specs/static_state/expect_section.py
  src/ethereum_test_specs/static_state/general_transaction.py
  src/ethereum_test_specs/static_state/state_static.py
  src/ethereum_test_specs/static_state/state_test_filler.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/static_filler.py
Labels: type:feat, scope:fill

#1485 new(tests): EIP-7702 - ensure DELEGATECALLing a 7702 target works
  docs/CHANGELOG.md
  tests/prague/eip7702_set_code_tx/test_calls.py
  whitelist.txt
Labels: scope:tests

#1489 new(tests): EIP-7873 expand legacy creation tx tests
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
Labels: scope:tests

#1488 fix(fill): fix reported fixture source urls for the case of auto-generated tests
  docs/CHANGELOG.md
  src/pytest_plugins/filler/filler.py
Labels: type:bug, scope:consume, scope:fill

#1486 new(tests): EIP-7620/7873 - ensure no account gets created on failure
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_txcreate_failures.py
Labels: scope:tests

#1491 feat(ci): Add `static` feature to produce `fixtures_static`
  .github/configs/evm.yaml
  .github/configs/feature.yaml
  docs/CHANGELOG.md
  pyproject.toml
Labels: scope:ci, type:feat

#1492 fix(tests): Update legacy creation tx rules
  src/ethereum_clis/clis/evmone.py
  src/ethereum_test_exceptions/exceptions.py
  tests/osaka/eip7692_eof_v1/eip7873_tx_create/test_creation_tx.py
Labels: scope:tests, fork:osaka

#1494 fix(consume): fix the test re-run hive commands displayed in hive ui
  docs/CHANGELOG.md
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/pytest_hive/hive_info.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
  src/pytest_plugins/shared/execute_fill.py
  whitelist.txt
Labels: type:bug, scope:consume

#1505 feat(tests): add bls map to curve on identity cases
  docs/CHANGELOG.md
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp2_to_g2.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp_to_g1.py
Labels: scope:tests, type:feat, fork:prague

#1495 feat(tests): add eip-2929 precompile address warming tests
  docs/CHANGELOG.md
  src/pytest_plugins/consume/hive_simulators/ruleset.py
  tests/berlin/eip2929_gas_cost_increases/__init__.py
  tests/berlin/eip2929_gas_cost_increases/test_precompile_warming.py
Labels: scope:tests, type:feat

#1506 chore(docs): bump changelog for v4.4.0 release.
  docs/CHANGELOG.md
Labels: scope:docs, type:chore, fork:prague

#1514 chore(tests): add zkevm marker for bls g1 add tests
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
Labels: scope:tests, type:chore, feature:zkevm

#1513 chore(ci): remove pectra devnet 6 evm feature
  .github/configs/evm.yaml
Labels: scope:ci, type:chore

#1510 chore: add osaka engine updates
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_rpc/types.py
Labels: type:chore, fork:osaka

#1517 chore(docs): add non forks to test case reference
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
Labels: scope:docs, scope:ci, type:chore
